<div class="SitePanel">
    <div class="BannerPanel">
        <webframe-page class="page-component" [pageId]="this.getPageId()"></webframe-page>
    </div>
    <div class="command-bar">
        <button (click)="goBack()">Back</button>
    </div>
    <div *ngIf="currentMode === cmsModes.Index" class="cms-index-panel">
        <!--<h2>Site Content and History</h2>-->
        <!--<div class="toc">
            <div class="title">Contents</div>
            <div class="toc-item">
                <button>Site Content</button>
                <div class="description">A list of all the pages and images in folder order</div>
            </div>
            <div class="toc-item">
                <button>Group List</button>
                <div class="description">A list of all groups</div>
            </div>
            <div class="toc-item">
                <button>Member List</button>
                <div class="description">A list of all registered members</div>
            </div>
        </div>-->
        <div class="toc">
            <div class="title">History</div>
            <!--<div class="toc-item">
                <button>Content Changes</button>
                <div class="description">A history of all changes to content, e.g. new pages, deletions and modifications</div>
            </div>-->
            <div class="toc-item">
                <button (click)="goToMailHistory()">Mail History</button>
                <div class="description">A history of all email sent by the site</div>
            </div>
            <!--<div class="toc-item">
                <button>Group History</button>
                <div class="description">A history of all changes to groups</div>
            </div>-->
            <div class="toc-item">
                <button (click)="goToMembershipHistory()">Membership History</button>
                <div class="description">A history of all registrations and changes to members records</div>
            </div>
        </div>
        <div class="toc">
            <div class="title">Tools</div>
            <div class="toc-item">
                <button>Test Mail</button>
                <div class="description">Mail testing form</div>
            </div>
        </div>
    </div>
    <div class="cms-component-panel">
        <ng-container *ngIf="currentMode === cmsModes.MailHistory">
            <mail-history></mail-history>
        </ng-container>
        <ng-container *ngIf="currentMode === cmsModes.MembershipHistory">
            <membership-history></membership-history>
        </ng-container>
    </div>
    <custom-css></custom-css>
</div>