@{
    ViewBag.Title = "Designer";
}

<p>
    This designer can used to modify the layout of the site and specify its appearance. This includes the panel structure as well as details such as sizes,
    colours, borders, and so on.
    Site design is specified entirely in CSS and good understanding of CSS is necessary to ensure the desired results.
</p>
<h2>Site Layout</h2>
<p>
    Site layout can be modified using the Layout editor ("Layout" link above). Site content is rendered within a set of panels
    and relationship between the panels is an important aspect of understanding how layout can be modified.
</p>
<p>There are a number of panels of which the most important are:</p>
<ul>
    <li>the Banner panel - if shown this always appears at the top of the page across the browser window</li>
    <li>the Menu panel - if shown this appears just below the Banner panel</li>
    <li>the Left panel - if shown this appears as a left column</li>
    <li>the Centre panel - the primary content is always shown in this panel</li>
    <li>the Right panel - if shown, this appears as a right column</li>
</ul>
<p>Each of these, except the Centre panel, is optional. </p>
<h2>Menus</h2>
<p>
    Navigation links can be embedded in any page, or, typically, in the side panel content of a page. Such links work well for simple navigation.
    There are two scenarios where more sophistication is required: (a) where a navigation link expands to show sub-links, and (b) where, in a responsive
    design, navigation links need to be shown differently on smaller screens.
</p>
<p>
    In this case navigation links can be constructed as "menus" using the Menu Editor (see "Menus" link above). Multiple menus can be defined and targetted individually
    at the Menu Panel or at specific side pages (they cannot be targeted at the centre panel content - use conventional links in this case)
</p>
<p>The Menu Editor also provides a link to the Less editor for menus.</p>
