
@{
    ViewBag.Title = "Permission Denied";
    Layout = "~/Areas/Designer/Views/Shared/_Empty.cshtml";
}

<h2>Permission Denied</h2>
<p>Using the Site Designer is restricted to authorised users.</p>

