<div class="group-details" data-id="{{Group.Id}}">
    <div class="row  {{#Group.IsSystem}}hide{{/Group.IsSystem}}">
        <div class="col-xs-12">
            <div class="form-group-sm  {{#Group.IsSystem}}hide{{/Group.IsSystem}}" data-property>
                <label for="group-name">Name</label>
                <input type="text" class="form-control" id="group-name" placeholder="Name" data-item="group-name" value="{{Group.Name}}" data-focus>
                <div class="message"></div>
            </div>
            <div class="form-group-sm  {{#Group.IsSystem}}hide{{/Group.IsSystem}}" data-property>
                <label for="group-descr">Description</label>
                <input type="text" class="form-control" id="group-descr" placeholder="Description" data-item="group-descr" value="{{Group.Description}}">
                <div class="message"></div>
            </div>
            <div class="form-group-sm"  data-property>
                <label for="group-weight">Weight</label>
                <input type="number" class="form-control" id="group-weight" placeholder="Weight" data-item="group-weight" value="{{Group.Weight}}">
                <div class="message"></div>
            </div>
            <div class="form-group-sm" data-property>
                <input type="checkbox"  id="update-children" data-item="update-children" value="Update subgroup weights">
                <label class="checkbox-label" for="update-children">Update subgroup weights</label>
                <div class="message"></div>
            </div>
            <div class="form-group-sm command-strip {{#Group.IsSystem}}hide{{/Group.IsSystem}}">
                <button class="btn btn-danger pull-left" data-cmd="delete-group">Delete</button>
                <div class="btn-group pull-right">
                    <button class="btn btn-primary" data-cmd="save-group-changes">Save Changes</button>
                    <button class="btn btn-default" data-cmd="close-form">Cancel</button>
                </div>
                <div class="error-summary message pull-right"></div>
            </div>
        </div>
    </div>
    <div class="row  {{^Group.IsSystem}}hide{{/Group.IsSystem}}">
        <div class="col-xs-12">
            <div class="system-group-block">
                <div>{{Group.Name}} is a system group</div>
                <div class="{{^Group.HasSystemDefinedMembers}}hide{{/Group.HasSystemDefinedMembers}}">Members are automatically determined</div>
            </div>
        </div>
    </div>
    <div class="row member-list-panel  {{#Group.HasSystemDefinedMembers}}hide{{/Group.HasSystemDefinedMembers}}">
        <div class="col-xs-10">
            <label>Members:</label>
            {{#HasMembers}}
            <div class="form-group-sm member-list">
                {{#Members}}
                <div class="member-item"><input class="" type="checkbox" data-item="{{Id}}" data-array="members" /><span>{{Name}} ({{EmailAddress}})</span></div>
                {{/Members}}
            </div>
            {{/HasMembers}}
            {{^HasMembers}}
            <div class="">There are no members.</div>
            {{/HasMembers}}
        </div>
        <div class="col-xs-2">
            <div class="btn-group-sm btn-group-vertical member-list-commands pull-left">
                <button class="btn btn-primary  pull-right" data-cmd="add-members">Add ...</button>
                <button class="btn btn-primary  pull-right" data-cmd="remove-members">Remove</button>
                <button class="btn btn-warning  pull-right" data-toggle="false" data-cmd="toggle-selectall-command">Select All</button>
            </div>
        </div>
    </div>
</div>
