<div class="membership group-manager">
    <div class="form-body">
        <div class="interaction-panels">
            <div class="group-tree-panel active">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="group-tree"></div>
                    </div>
                </div>
            </div>
            <div class="group-content-panel">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="toolbar" style="display:none">
                            <button class="btn btn-primary" data-cmd="add-new-group">Add New Group</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="group-details-panel"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-footer"></div>
</div>
