<div class="membership member-manager">
    <div class="form-body">
        <div class="interaction-panels">
            <div class="lookup-panel active">                
                <div class="row">
                    <div class="col-xs-12">
                        <div class="search-group ">
                            <div class="input-group" data-property>
                                <span class="input-group-btn"><button class="btn btn-default" data-cmd="add-new-member" title="Add a New Member"><span class="fa fa-plus"></span></button></span>
                                <input type="text" class="form-control" placeholder="Search ..." data-item="search-text" />
                                <span class="input-group-btn"><button class="btn btn-default" data-cmd="clear-search"><span class="fa fa-remove"></span></button></span>
                                <span class="input-group-btn"><button class="btn btn-default" data-cmd="search-cmd"><span class="fa fa-search"></span></button></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row address-book">
                    <div class="member-index">
                        <div class="btn-group-xs btn-group-vertical">
                            <button class="btn btn-primary" data-cmd="search-char" data-letter="A">A</button>
                            <button class="btn btn-primary" data-cmd="search-char" data-letter="B">B</button>
                            <button class="btn btn-primary" data-cmd="search-char" data-letter="C">C</button>
                            <button class="btn btn-primary" data-cmd="search-char" data-letter="D">D</button>
                            <button class="btn btn-primary" data-cmd="search-char" data-letter="E">E</button>
                            <button class="btn btn-primary" data-cmd="search-char" data-letter="F">F</button>
                            <button class="btn btn-primary" data-cmd="search-char" data-letter="G">G</button>
                            <button class="btn btn-primary" data-cmd="search-char" data-letter="H">H</button>
                            <button class="btn btn-primary" data-cmd="search-char" data-letter="I">I</button>
                            <button class="btn btn-primary" data-cmd="search-char" data-letter="J">J</button>
                            <button class="btn btn-primary" data-cmd="search-char" data-letter="K">K</button>
                            <button class="btn btn-primary" data-cmd="search-char" data-letter="L">L</button>
                            <button class="btn btn-primary" data-cmd="search-char" data-letter="M">M</button>
                            <button class="btn btn-primary" data-cmd="search-char" data-letter="N">N</button>
                            <button class="btn btn-primary" data-cmd="search-char" data-letter="O">O</button>
                            <button class="btn btn-primary" data-cmd="search-char" data-letter="P">P</button>
                            <button class="btn btn-primary" data-cmd="search-char" data-letter="Q">Q</button>
                            <button class="btn btn-primary" data-cmd="search-char" data-letter="R">R</button>
                            <button class="btn btn-primary" data-cmd="search-char" data-letter="S">S</button>
                            <button class="btn btn-primary" data-cmd="search-char" data-letter="T">T</button>
                            <button class="btn btn-primary" data-cmd="search-char" data-letter="U">U</button>
                            <button class="btn btn-primary" data-cmd="search-char" data-letter="V">V</button>
                            <button class="btn btn-primary" data-cmd="search-char" data-letter="W">W</button>
                            <button class="btn btn-primary" data-cmd="search-char" data-letter="X">X</button>
                            <button class="btn btn-primary" data-cmd="search-char" data-letter="Y">Y</button>
                            <button class="btn btn-primary" data-cmd="search-char" data-letter="Z">Z</button>
                            <button class="btn btn-primary" data-cmd="search-char" data-letter="#">#</button>
                        </div>
                    </div>
                    <div>
                        <div class="member-list">
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-panel">
                <!--<div class="toolbar"><button class="btn btn-primary" data-cmd="add-new-member">Add New Member</button></div>-->
                <div class="details-panel">
                </div>
            </div>
        </div>
    </div>
    <div class="form-footer"></div>
</div>

