<div class="designer layout-less-editor">
    <div class="form-body ">
        <div class="row">
            <div class="col-xs-12">
                <p class="editor-title">
                    LESS Editor for the {{Panel}}
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <pre id="less-editor"></pre>
                <div class="form-group btn-group pull-right">
                    <button class="btn btn-primary" data-cmd="save-css">Save</button>
                    <!--<button class="btn btn-default" data-cmd="cancel">Cancel</button>-->
                </div>
                <div class="message pull-left"></div>
            </div>
            <div class="col-xs-4 default-css">
                <div>Default CSS is:</div>
                <pre></pre>
                <p>{{HelpText}}</p>
            </div>
        </div>

    </div>
    <div class="form-footer"></div>
</div>
