<div >
    <div class="form-body designer layout-home">
        <div class="row">
            <div class="col-xs-12">
                <p>
                    Site layout is organised in structure of nested panels:
                </p>
            </div>
        </div>
        <div class="row panel-diagram">
            <div class="col-xs-8">
                <div class="browser-panel box">
                    <div class="site-panel box">
                        <div class="banner-panel box"></div>
                        <div class="menu-panel box"></div>
                        <div class="content-container">
                            <div class="content-panel box">
                                <div class="left-panel box"></div>
                                <div class="centre-panel box"></div>
                                <div class="right-panel box"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-2">
                <div class="vertical-links">
                    <div class="form-group">
                        <button class="btn btn-link select-panel" data-cmd="site-panel">Site Panel</button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-link select-panel" data-cmd="banner-panel">Banner Panel</button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-link select-panel" data-cmd="menu-panel">Menu Panel</button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-link select-panel" data-cmd="content-panel">Content Panel</button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-link select-panel" data-cmd="left-panel">Left Panel</button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-link select-panel" data-cmd="centre-panel">Centre Panel</button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-link select-panel" data-cmd="right-panel">Right Panel</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="help-block">Hover over the panel name to highlight the panel in the diagram.</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="panel-description"></div>
                <p>Use the panel links above to edit the CSS for that panel.</p>
            </div>

        </div>

    </div>
    <div class="form-footer"></div>
</div>
