@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width; maximum-scale=1 minimum-scale=1" />
    <title></title>
    <link href="~/webframelogo-16.16.ico" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
    <div>
        @RenderBody() 
    </div>
</body>
</html>
