$main-background-colour: white;
$main-foreground-colour: black;

$alt-background-colour: #337ab7;
$alt-foreground-colour: white;

$disabled-colour: darkgrey;
$error-colour: #d50d0d;

$std-padding: 0.5em;
