
$annotation-colour: #152eea;

.webframe-form, modal-dialog {
    font-size: 16px;
    padding: 0.5em;
    width: 100%;

    .caption {
        margin-top: 0;
        //margin-bottom: 1em;
        font-size: 1.5em;

        .sub-heading {
            font-size: 0.8em;
        }
    }

    .annotation {
        font-size: 12px;
        color: $annotation-colour;
        &.no-space {
            display: flex;
        }
        &.warning {
            color: red;
        }
    }
}
.webframe-form .form-body {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
modal-dialog {
    .modal-container {
        width: 75%;
    }
    .caption {
        padding-left: 0.25em;
        padding-right: 0.25em;
    }
}
#message-box {
    .modal-container {
        width: 33%;
    }
}
#error-box {
    .error-list {
        margin-top: 0.5em;
        font-size: larger;
        .error-msg {
            font-style: italic;
        }
    }
}
