<popup-dialog #contentbrowser>
    <div dialogheader>
        <div>{{getCaption()}}</div>
    </div>
    <div dialogbody>
        <div class="content-browser-panel">
            <div class="tree-view">
                <div class="directory-commands">
                    <div>
                        <button title="Delete selected directory" class="small warning" [ngClass]="{disabled: !canExecute(ContentCommands.DeleteDirectory)}" (click)="onDeleteDirectory()">Delete</button>
                    </div>
                    <div>
                        <button title="Show selected directory properties" class="small" [ngClass]="{disabled: !canExecute(ContentCommands.ShowDirectoryProperties)}" (click)="onDirectoryProperties()">Properties</button>
                        <button title="Add a subdirectory to the selected directory" class="small" [ngClass]="{disabled: !canExecute(ContentCommands.AddSubdirectory)}" (click)="onAddDirectory()">Add</button>
                        <popup-dialog #newDirectoryDialog [width]="400">
                            <div dialogheader>
                                <div>{{getNewDirectoryCaption()}}</div>
                            </div>
                            <div dialogbody>
                                <text-input *ngIf="subdirectory" label="Subdirectory Name:" [(ngModel)]="subdirectory.name" [validator]="directoryNameValidatorAsync"></text-input>
                            </div>
                            <div dialogcommandbar>
                                <div class="centre">
                                    <button (click)="onCreateNewDirectory()">OK</button>
                                    <button class="cancel" (click)="onCancelNewDirectory()">Cancel</button>
                                </div>
                            </div>
                        </popup-dialog>
                        <directory-properties [existingContent]="content"></directory-properties>
                    </div>
                </div>
                <tree-view [emptynodeclass]="'fa fa-folder-o folder-colour'" [expandedclass]="'fa fa-folder-open folder-colour'" [closedclass]="'fa fa-folder folder-colour'" [nodes]="directoryNodes" (selected)="onTreeNodeSelected($event)"></tree-view>
            </div>
            <div *ngIf="content !== null" class="content-view">
                <div>
                    <div class="content-caption">
                        <span>{{selectedDirectory.fullname}}</span>
                    </div>
                </div>
                <div *ngIf="content.isEmpty()">Folder is empty</div>
                <div *ngIf="!content.isEmpty()" class="content-table">
                    <ng-container *ngFor="let page of content.pages">
                        <ng-container *ngIf="selectmode === false">
                            <div>
                                <img src="{{page.iconUrl}}" />
                                <img *ngIf="page.landingPage" src="{{page.landingPageIconUrl}}" />
                            </div>
                            <a *ngIf="page.pageType === PageType.Centre" href="/edit/{{page.id}}">{{page.url}}</a>
                            <div *ngIf="page.pageType !== PageType.Centre">{{page.url}}</div>
                            <div>
                                <span> {{page.name}}</span>
                                <span class="page-type"> {{PageType[page.pageType]}}</span>
                            </div>
                            <span class="fa fa-edit edit-icon" title="Show page properties" (click)="onPageProperties(page)"></span>
                            <span *ngIf="!page.landingPage" title="Delete this page" class="fa fa-remove delete-icon" (click)="onDeletePage(page)"></span>
                            <span *ngIf="page.landingPage" class="fa fa-square" style="color: transparent"></span>
                            <span class="fa fa-eye view-icon" title="View this page - scaled to 75%" (click)="onViewPage(page)"></span>
                        </ng-container>
                        <ng-container *ngIf="selectmode === true">
                            <div>
                                <img src="{{page.iconUrl}}" />
                                <img *ngIf="page.landingPage" src="{{page.landingPageIconUrl}}" />
                            </div>
                            <div  class="selectable" (click)="pageSelected(page)">{{page.url}}</div>
                            <div>
                                <span> {{page.name}}</span>
                                <span class="page-type"> {{PageType[page.pageType]}}</span>
                            </div>
                            <span class="fa fa-square" style="color: transparent" ></span>
                            <span class="fa fa-square" style="color: transparent"></span>
                            <span class="fa fa-eye view-icon" title="View this page - scaled to 75%" (click)="onViewPage(page)"></span>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngFor="let doc of content.documents">
                        <ng-container *ngIf="selectmode === false">
                            <div>
                                <img src="{{doc.iconUrl}}" />
                            </div>
                            <div >{{doc.url}}</div>
                            <div>{{doc.name}}</div>
                            <span class="fa fa-square" style="color: transparent"></span>
                            <span class="fa fa-remove delete-icon" title="Delete this document" (click)="onDeleteDocument(doc)"></span>
                            <span class="fa fa-square" style="color: transparent"></span>
                        </ng-container>
                        <ng-container *ngIf="selectmode === true">
                            <div>
                                <img src="{{doc.iconUrl}}" />
                            </div>
                            <div *ngIf="selectmode === true" class="selectable" (click)="documentSelected(doc)">{{doc.url}}</div>
                            <div>{{doc.name}}</div>
                            <span class="fa fa-square" style="color: transparent"></span>
                            <span  class="fa fa-square" style="color: transparent" ></span>
                            <span class="fa fa-square" style="color: transparent"></span>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngFor="let image of content.images">
                        <ng-container *ngIf="selectmode === false">
                            <div>
                                <img src="{{image.iconUrl}}" />
                            </div>
                            <div >{{image.url}}</div>
                            <div>
                                <span>{{image.name}}</span>
                                <span class="image-size">{{image.width}}w x {{image.height}}h</span>
                            </div>
                            <span class="fa fa-square" style="color: transparent"></span>
                            <span class="fa fa-remove delete-icon" title="Delete this image" (click)="onDeleteImage(image)"></span>
                            <span class="fa fa-eye view-icon" title="View this image" (click)="onViewImage(image)"></span>
                        </ng-container>
                        <ng-container *ngIf="selectmode === true">
                            <div>
                                <img src="{{image.iconUrl}}" />
                            </div>
                            <div  class="selectable" (click)="imageSelected(image)">{{image.url}}</div>
                            <div>
                                <span>{{image.name}}</span>
                                <span class="image-size">{{image.width}}w x {{image.height}}h</span>
                            </div>
                            <span class="fa fa-square" style="color: transparent"></span>
                            <span class="fa fa-square" style="color: transparent" ></span>
                            <span class="fa fa-eye view-icon" title="View this image" (click)="onViewImage(image)"></span>
                        </ng-container>
                    </ng-container>
                </div>
                <page-properties [existingContent]="content"></page-properties>
            </div>

        </div>
        <div *ngIf="selectmode === true">
            <div class="selection-tray">
                <div>Selection:</div>
                <div *ngIf="selection">
                    <img src="{{selection.iconUrl}}" />
                    <span>{{selection.url}}</span>
                    <span>{{selection.name}}</span>
                </div>
            </div>
        </div>
    </div>
    <div dialogcommandbar>
        <div class="left">
            <button [ngClass]="{disabled: !canExecute(ContentCommands.AddNewPage)}" (click)="onAddNewPage()">Add New Page</button>
            <button [ngClass]="{disabled: !canExecute(ContentCommands.UploadFiles)}" (click)="onUploadFiles()">Upload File(s)</button>
        </div>
        <div class="right">
            <button *ngIf="selectmode === true" [ngClass]="{disabled: !selection}" (click)="onSelect()">Select</button>
            <button class="cancel" (click)="onClose()">Close</button>
        </div>
    </div>
</popup-dialog>
<popup-dialog #viewPageDialog [width]="500">
    <div dialogheader>
        <div>{{getPageViewCaption()}}</div>
    </div>
    <div dialogbody>
        <div class="page-view">
            <div *ngIf="pageInnerHtml !== null" [innerHtml]="pageInnerHtml"></div>
        </div>
    </div>
    <div dialogcommandbar>
        <div class="centre">
            <button class="cancel" (click)="onClosePageViewer()">Close</button>
        </div>
    </div>
</popup-dialog>
<popup-dialog #viewImageDialog [width]="300">
    <div dialogheader>
        <div>{{getImageCaption()
            }}
        </div>
    </div>
    <div dialogbody>
        <div class="image-view">
            <img *ngIf="imageOnView" [src]="imageOnView.url" />
        </div>
    </div>
    <div dialogcommandbar>
        <div class="centre">
            <button class="cancel" (click)="onCloseImageViewer()">Close</button>
        </div>
    </div>
</popup-dialog>
<popup-dialog #newPageDialog [width]="400">
    <div dialogheader>
        <div>{{getNewPageCaption()}}</div>
    </div>
    <div dialogbody>
        <text-input *ngIf="newPage" label="Page Name:" [(ngModel)]="newPage.name" [validator]="pageNameValidatorAsync"></text-input>
    </div>
    <div dialogcommandbar>
        <div class="centre">
            <button (click)="onCreateNewPage()">OK</button>
            <button class="cancel" (click)="onCancelNewPage()">Cancel</button>
        </div>
    </div>
</popup-dialog>
<upload-dialog #uploadFilesDialog (startUpload)="onStartFileUpload($event)"></upload-dialog>
<popup-message caption="Content Browser" [width]="500"></popup-message>