@import "_palette.scss";

$gutter: 20px;
$gutter-narrow: $gutter / 2;
$gutter-fine: $gutter-narrow / 2;

%theme-page {
    margin-left: $gutter;
    margin-right: $gutter;
    background-color: theme-colour('background');
    color: theme-colour('surface');
}

@mixin theme-buttons {
    button {
        font-size: 13px;
        border: 1px solid theme-colour('primary', 'dark');
        border-radius: 0.25em;
        margin: 0.125em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-bottom: 0.25em;
        height: 1.8em;
        background-color: theme-colour('primary');
        color: theme-colour('background');



        &.small {
            font-size: 10px;
            padding-left: 0.25em;
            padding-right: 0.25em;
            padding-bottom: 0.2em;
            padding-top: 0;
            line-height: 0.8;
        }

        &:hover {
            background-color: theme-colour('background');
            color: theme-colour('primary');
        }

        &.secondary {
            border: 1px solid theme-colour('accent', 'dark');
            background-color: theme-colour('accent');

            &:hover {
                background-color: theme-colour('background');
                color: theme-colour('accent');
            }
        }

        &[disabled], &.disabled {
            cursor: none;
            pointer-events: none;
            background-color: theme-colour('disabled');
            border-color: theme-colour('disabled', 'dark');
            color: theme-colour('background');
        }

        &.danger {
            background-color: theme-colour('error');
            border: 1px solid theme-colour('error', 'dark');

            &:hover {
                background-color: theme-colour('background');
                color: theme-colour('error');
            }
        }

        &.cancel {
            background-color: theme-colour('background');
            color: theme-colour('primary');

            &:hover {
                background-color: theme-colour('primary');
                color: theme-colour('background');
            }
        }
    }
}
@mixin theme-bars {
    .menu-bar {
        background-color: theme-colour('primary', 'light');
        padding: $gutter-fine $gutter-narrow;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        > * {
            grid-column: 1;
            grid-row: 1;
        }
        .align-left {
            justify-self: left;
        }

        .align-right {
            justify-self: right;
        }
    }
}

@include theme-buttons;
@include theme-bars;
.component-root {
    @extend %theme-page;
}
