<div class="component-root">
    <div class="menu-bar">
        <button class="align-left">first menu</button>
        <button class="align-right">second menu</button>
        <button class="align-left">third menu</button>
        <button class="align-right">fourth menu</button>
    </div>
    <div>this is the test component</div>
    <div class="test-button-table">
        <button>normal</button>
        <button class="small">normal small</button>
        <button>third</button>
        <button class="secondary">secondary</button>
        <button class="secondary small">scondary small</button>
        <button class="secondary">secondary third</button>
        <button class="cancel">normal danger</button>
        <button class="small cancel">small danger</button>
        <button class="cancel">third danger</button>
        <button disabled>normal disabled</button>
        <button class="small" disabled>small disabled</button>
        <button disabled>third disabled</button>
        <button class="danger">normal danger</button>
        <button class="small danger">small danger</button>
        <button class="danger">third danger</button>
    </div>
</div>