//@import "../../modaldialog/modal-dialog.variables.scss";

/*:host {
    @extend .modal-dialog-settings;



    .modal-container {
        width: 75%;

        .command-buttons {
            //border-top: 1px solid lightgray;
        }

        .form-body {
            .caption {
                background-color: cornflowerblue;
                color: white;
                padding: 0.25em;
                margin-bottom: 0.25em;
            }


        }
    }
}*/
/*.folder-colour {
    color: darkorange;
}*/
.command-bar {
    background-color: lightgray;
    padding-top: 0.125em;
    padding-bottom: 0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin-bottom: 0.25em;
}
.content-browser-panel {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    .content-caption {
        color: #101010;
    }
    .tree-view, .content-view {
        padding-top: 0;
        padding-bottom: 0.25em;
        padding-left: 0.25em;
        padding-right: 0.25em;
    }

    .tree-view {
        min-height: 25vh;
        border: 1px solid white;
        border-radius: 0.2em;

        .directory-commands {
            display: grid;
            grid-template-columns: auto auto;
            @extend .command-bar;
            div:last-child {
                text-align: right;
            }

            button.small {
                height: auto;
                font-size: 10px;
            }
        }
    }

    .content-view {
        border-left: 1px solid lightgray;
        //border-radius: 0.25em;
        width: 100%;
        background-color: #f9f9f9;

        > div:first-child {
            @extend .command-bar;
            color: white;
        }

        .content-table {
            display: grid;
            grid-template-columns: fit-content(48px) fit-content(120px) auto 24px 24px;
            grid-row-gap: 3px;
            grid-column-gap: 5px;
            max-height: 300px;
            overflow-y: auto;

            > * {
                background-color: white;
            }

            .delete-icon {
                cursor: pointer;
                color: red;

                &:hover {
                    color: orange;
                }
            }

            .edit-icon, .view-icon {
                cursor: pointer;

                &:hover {
                    color: orange;
                }
            }

            .image-size {
                font-size: smaller;
                font-style: italic;
                color: #808080;
            }

            /*.content-url {
                padding-left: 0.25em;
                padding-right: 0.25em;
            }*/
        }
    }
}
#new-directory, #new-page, #upload-files {
    /*.modal-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .form-body {
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.5em;
        padding-bottom: 1em;
    }

    .caption {
        padding: 0.25em;
        margin-bottom: 0.25em;
    }*/
}
#upload-files {
    /*.form-body {
        min-height: 200px;
    }

    .help-text {
        font-size: smaller;
        font-style: italic;
        color: royalblue;
    }

    .upload-list {
        display: grid;
        grid-template-columns: auto 80px 80px;

        .p-bar {
            height: 10px;
            align-self: center;
            position: relative;

            > div {
                border-radius: 2px;
                position: absolute;
                height: 100%;

                &.lower {
                    border: 1px solid #808080;
                    width: 100%;
                }

                &.upper {
                    border: 1px solid transparent;
                    background-color: green;
                }
            }
        }
    }*/
}


