<div class="modal-overlay">
    <div class="modal-container">
        <div class="form-body">
            <div class="caption">Site Content Browser</div>
            <div class="content-browser-panel">
                <div class="tree-view">
                    <!--<tree-root  #groupTree [nodes]="directoryNodes" [options]="treeOptions"  (activate)="onActivate($event)"></tree-root>-->
                </div>
                <div class="content-view">
                    content here
                </div>
            </div>
        </div>
        <div class="command-buttons align-centrally">
            <div>
                <button class="default">Add New Page</button>
                <button class="secondary">Upload File(s)</button>
                <button class="cancel" (click)="onClose()">Close</button>
            </div>
        </div>
    </div>
</div>