$default-backgroundColour: #1b76bc;

$default-sitepanel-width: 840px;

:host {
    height: 100%;
}

.SitePanel {
    .edit-panel {
        background-color: black;
        padding-left: 0.25em;
        padding-right: 0.25em;
    }

}


#site-content-browser {
    .modal-container {
        width: 75%;

        .command-buttons {
            border-top: 1px solid lightgray;
        }

        .form-body {
            .caption {
                padding: 0.25em;
                margin-bottom: 0.25em;
            }

            .content-browser-panel {
                display: flex;

                .tree-view {
                    padding: 0.25em;
                    min-height: 25vh;
                    border: 1px solid white;
                }

                .content-view {
                    padding: 0.25em;
                    border-left: 1px solid lightgray;
                    //border-radius: 0.25em;
                    width: 100%;
                }
            }
        }
    }
}

@media all and (max-width: 748px) {
    .BannerPanel {
        webframe-sidebarmenu {
            display: block;
        }
    }

    .SitePanel {
        .MenuPanel {
            display: none;
        }
    }
}
