$default-backgroundColour: #1b76bc;

$default-sitepanel-width: 840px;

:host {
    height: 100%;
}

.SitePanel {
    .edit-panel {
        background-color: black;
        /*padding-left: 0.25em;
        padding-right: 0.25em;*/
        padding: 0.25em;
        color: white;
        display: grid;
        grid-template-columns: fit-content(100px) auto fit-content(200px);
        grid-column-gap: 4px;
        button {
            width: auto;
            background-color: cornflowerblue;
            font-size: 12px;
            color: white;
            border: none;
            border-radius: 0.25em;
            &:hover {
                background-color: darkorange;
            }
        }
    }
}
webframe-page {
    .hide {
        display: none;
    }
}
@media all and (max-width: 748px) {
    .BannerPanel {
        webframe-sidebarmenu {
            display: block;
        }
    }

    .SitePanel {
        .MenuPanel {
            display: none;
        }
    }
}
