@{
    Layout = "~/Views/Shared/_BareLayout.cshtml";
    ViewBag.Title = "Session Timeout";
}
<div class="timeout-page">
    <div class="content">
        <div class="heading">Session timed out</div>
        <div class="message">The session has timed out. The most likely reason is that there has been no activity for some time.</div>
        <div class="message">Please return to the <a href="/home">home page</a> and, if required, login again.</div>
    </div>
</div>


