:host {
    display: block;
    .command-button-bar {

                        }
}
.inline-dialog {
    height: 100%;
    padding: 0.25em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.command-button-bar {
    background-color: #a0a0a0;
    border-radius: 0.25em;
    div {

        }
}