@import "shared.component.scss";

$popup-overlay-background-colour: rgba(white, 0.77);
$popup-background-colour: white;
$popup-colour: black;
$popup-border-colour: cornflowerblue;
$popup-border: 1px solid $popup-border-colour;
$popup-padding: 0.25em;
$popup-border-radius: 0.25em;

$popup-caption-colour: cornflowerblue;
$popup-warning-caption-colour: darkorange;
$popup-error-caption-colour: red;


.popup-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $popup-overlay-background-colour;

    .popup-overlay {
        background-color: $popup-background-colour;
        color: $popup-colour;
        padding: $popup-padding;
        border: $popup-border;
        border-radius: $popup-border-radius;
        max-width: 90%;
        margin: auto;
        margin-top: 5%;
        box-shadow: 0 0 20px $popup-border-colour;

        .dialog-header {
            font-weight: bold;
            background-color: $popup-caption-colour;
            color: white;
            padding: 0.25em;
            min-height: 2em;

            &.warning {
                background-color: $popup-warning-caption-colour;
            }

            &.error {
                background-color: $popup-error-caption-colour;
            }
        }

        .dialog-body {
            padding: 0.25em;
        }

        .dialog-commands {
            @extend %dialog-commands;
            min-height: 2em;
        }
    }
}
