@import "shared.component.scss";
.text-input-new {


    label {
        span {
            @extend .label-above;
            display: block;
        }
    }

    input {
        @extend .input-box;
        width: 100%;
    }

    &.not-valid {
        input {
            border: 1px solid $error-colour;
        }
    }

    &.disabled {
        @extend .set-disabled;

        input {
            border: 1px solid $disabled-color;
        }
    }
}
