.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
/*@import (reference) "../bootstrap/variables.less";
@import (reference) "../bootstrap/mixins.less";
@import (reference) "../bootstrap.css";*/
@-ms-viewport {
  width: device-width;
}
@media (max-height: 1080px) {
  @-ms-viewport {
    height: 1080px;
  }
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Calibri;
}
.fastnet-error-panel {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  padding: 4px;
  font-size: x-small;
  background-color: #000000;
  width: 75%;
  height: 100px;
  overflow-y: scroll;
  color: #ffffff;
}
.permission-page,
.timeout-page {
  width: 300px;
  height: 200px;
  margin-left: 15%;
  margin-right: 85%;
  margin-top: 24px;
}
.permission-page .content .heading,
.timeout-page .content .heading {
  color: #d9534f;
  font-size: 22px;
}
.permission-page .content .message,
.timeout-page .content .message {
  font-style: italic;
}
.SitePanel.normal-width .menu-bars-container {
  display: none;
}
.SitePanel.narrow-width {
  margin: 0 !important;
  width: auto !important;
}
.SitePanel.narrow-width .LeftPanel,
.SitePanel.narrow-width .RightPanel {
  width: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
}
.SitePanel.narrow-width .MenuPanel {
  display: none;
}
.SitePanel .menu-bars-container {
  width: 100%;
  position: absolute;
}
.SitePanel .menu-bars-container .bars {
  cursor: pointer;
  color: white;
  margin: 2px;
  font-size: 36px;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SitePanel .menu-bars-container .bars.right-bars,
.SitePanel .menu-bars-container .bars.left-bars {
  color: rgba(75, 74, 71, 0.98);
}
.SitePanel .menu-bars-container .bar-menu {
  position: absolute;
  z-index: 66666;
  border-radius: 3px;
}
.SitePanel .menu-bars-container .bar-menu ul {
  list-style-type: none;
  list-style-position: outside;
  display: flex;
  padding: 0;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.SitePanel .menu-bars-container .bar-menu li {
  cursor: pointer;
  width: 100%;
  display: block;
  text-align: left;
  line-height: 4.0em;
  color: white;
  background-color: black;
}
.SitePanel .menu-bars-container .bar-menu li a {
  color: inherit;
  display: flex;
  outline: none;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  -ms-align-content: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}
.SitePanel .menu-bars-container .bar-menu li a:visited,
.SitePanel .menu-bars-container .bar-menu li a:link,
.SitePanel .menu-bars-container .bar-menu li a:active {
  color: inherit;
  text-decoration: none;
}
.SitePanel .menu-bars-container .bar-menu li a:hover {
  background-color: blue;
}
.SitePanel .menu-bars-container .bar-menu li a span:last-child {
  margin-left: 4px;
}
.SitePanel .menu-bars-container .bar-menu li li > a,
.SitePanel .menu-bars-container .bar-menu li li > span {
  background-color: #726c61;
}
.SitePanel .menu-bars-container .bar-menu li li li > a {
  background-color: #ef9a12;
}
.BannerPanel {
  /*background-color: white;*/
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flexbox;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.ContentPanel {
  /*background-color: white;*/
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flexbox;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.ContentPanel .editable-content[contenteditable=true] .menu-location {
  background-color: green;
  font-size: x-small;
  text-align: center;
  color: white;
}
.ContentPanel .editable-content[contenteditable=true] .menu-location:before {
  content: " menu placeholder";
}
.CentrePanel {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -ms-flex: 1;
  /* IE 10 */
  -webkit-flex: 1;
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.MenuPanel .nav > li > a:hover,
.MenuPanel .nav > li > a:focus {
  text-decoration: inherit;
  background-color: inherit;
}
.context-menu-container {
  border: 2px solid #000000;
  border-radius: 4px;
  background-color: white;
  color: black;
  min-width: 128px;
  z-index: 49999;
}
.context-menu-container .context-menu-item {
  margin: 2px;
  cursor: pointer;
  /*margin-top:2px;
        margin-bottom:2px;*/
  padding: 2px 2px 2px 2px;
  border-radius: 2px;
}
.context-menu-container .context-menu-item:hover {
  background-color: #000000;
  color: white;
}
.context-menu-container .context-menu-item.disabled {
  background-color: lightgray;
  color: white;
}
.context-menu-container .context-menu-item.disabled:hover {
  background-color: lightgray;
  color: white;
}
.context-menu-container .context-menu-item-separator {
  margin-left: 2px;
  margin-right: 2px;
  border: 1px solid #bfbfbf;
}
[contenteditable=true] {
  resize: none;
  overflow-y: auto;
  outline: 0 solid transparent;
  border: none;
}
[contenteditable=true]:active,
[contenteditable=true]:focus {
  outline: 2px dashed #d9534f;
  border: none;
  z-index: 44444;
}
.edit-panel {
  -moz-transition: height ease 1s;
  -o-transition: height ease 1s;
  -webkit-transition: height ease 1s;
  transition: height ease 1s;
  background-color: black;
}
.edit-panel .toolbar {
  -moz-transition: height ease 1s;
  -o-transition: height ease 1s;
  -webkit-transition: height ease 1s;
  transition: height ease 1s;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 4px;
  padding-right: 4px;
  overflow: hidden;
  color: white;
  font-size: 10px;
}
.edit-panel .toolbar.closed {
  height: 0;
}
.edit-panel .toolbar.available {
  height: 8px;
}
.edit-panel .toolbar.available .btn {
  display: none;
}
.edit-panel .toolbar.available:hover {
  background-color: #cccccc;
}
.edit-panel .toolbar.open {
  height: 32px;
}
.edit-panel .toolbar .btn {
  margin: 2px;
  line-height: 1.4;
}
.edit-panel .toolbar .testing-command {
  display: none;
}
.edit-panel .toolbar .page-info-command {
  background: transparent;
  color: white;
}
.edit-panel .toolbar .page-info-command span:first-child {
  vertical-align: top;
}
.edit-panel .toolbar .page-info-command span.fa {
  font-size: 1.5em;
  margin-left: 2px;
  color: white;
}
.edit-panel .toolbar .page-info-command.closed span.fa:before {
  content: '\f01a';
}
.edit-panel .toolbar .page-info-command.open span.fa:before {
  content: '\f01b';
}
.edit-panel .page-information {
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #333;
  color: white;
  font-size: 11px;
}
.edit-panel .page-information.closed {
  height: 0;
}
.edit-panel .page-information > div {
  padding: 4px;
}
.edit-panel .page-information .banner-info span:first-child,
.edit-panel .page-information .left-info span:first-child,
.edit-panel .page-information .centre-info span:first-child,
.edit-panel .page-information .right-info span:first-child,
.edit-panel .page-information .banner-info span:nth-child(3),
.edit-panel .page-information .left-info span:nth-child(3),
.edit-panel .page-information .centre-info span:nth-child(3),
.edit-panel .page-information .right-info span:nth-child(3) {
  font-style: italic;
  color: lightblue;
}
.edit-panel .page-information .banner-info span:nth-child(2),
.edit-panel .page-information .left-info span:nth-child(2),
.edit-panel .page-information .centre-info span:nth-child(2),
.edit-panel .page-information .right-info span:nth-child(2) {
  margin-right: 2px;
}
@media only screen and (max-width: 768px) {
  .edit-panel {
    display: none;
  }
}
.editor-side-panel {
  position: relative;
}
.editor-side-panel .overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(204, 204, 204, 0.48) 10px, #ccc 20px), /* on "bottom" */ linear-gradient(to bottom, rgba(238, 238, 238, 0.39), rgba(114, 108, 97, 0.28));
  /*linear-gradient( to bottom, #eee, #999 );*/
  background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(204, 204, 204, 0.48) 10px, #ccc 20px);
}
.editor-side-panel .overlay .btn {
  margin: 4px;
}
i.mce-i-deletepage:before {
  content: '\f00d';
  color: red;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 1.0em;
  position: absolute;
  top: 1px;
  left: 7px;
}
.login-status {
  z-index: 33333;
  position: relative;
  /*.login-name:before {
        content: "Welcome: ";
    }*/
}
.login-status.enable {
  display: block;
}
.login-status:not(.enable) {
  display: none;
}
.login-status .login-name {
  text-decoration: none;
  cursor: pointer;
}
.login-status .login-name:hover {
  text-decoration: underline;
}
.login-status div {
  position: absolute;
  right: 0;
  top: 60px;
  margin-right: 4px;
  background: transparent;
  color: white;
}
.modal .message,
.modeless .message {
  font-size: 10px;
  font-style: italic;
  color: #d9534f;
  margin-left: 15px;
}
.modal .error,
.modeless .error {
  font-style: italic;
  color: #d9534f;
}
.modal .form-footer .help-block,
.modeless .form-footer .help-block {
  font-size: 10px;
}
.modal .footer-link,
.modeless .footer-link {
  margin-left: 8px;
  font-size: 8pt;
}
.modeless form {
  /*width: 50%;*/
  margin-left: auto;
  margin-right: auto;
}
.node-item .fa-folder {
  color: #ef9a12;
}
.node-item .title {
  margin-left: 2px;
}
.editor-dialog {
  font-size: small;
}
.editor-dialog.upload-file img[data-dz-thumbnail] {
  height: auto;
  max-width: 400px;
  box-shadow: 2px 2px 5px 0 #3E369B;
}
.editor-dialog.upload-file div[data-dz-name] {
  font-size: 11px;
}
.editor-dialog.store-browser {
  width: 650px;
}
.editor-dialog.store-browser.edit-disabled button[data-cmd='add-new-page'] {
  display: none;
}
.editor-dialog.store-browser.edit-disabled button[data-cmd='upload-files'] {
  display: none;
}
.editor-dialog.store-browser.edit-disabled .folder-content .buttons {
  display: none;
}
.editor-dialog.store-browser div[class*='col-xs'] {
  padding-left: 8px;
  padding-right: 8px;
}
.editor-dialog.store-browser .browser-separator {
  display: none;
  border: 1px solid black;
  width: 2px;
  height: 80px;
}
.editor-dialog.store-browser .folder-content {
  max-height: 400px;
  height: 400px;
  overflow: hidden;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  font-size: 11px;
  padding: 4px;
}
.editor-dialog.store-browser .folder-content .item-row {
  height: 20px;
}
.editor-dialog.store-browser .folder-content .item-row.selected {
  background-color: #1d4567;
  color: #eff5fa;
}
.editor-dialog.store-browser .folder-content .item-row:hover {
  background-color: #daf1f8;
  color: #1b6d85;
}
.editor-dialog.store-browser .folder-content div.header {
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: bold;
  border-bottom: 1px solid #aaaaaa;
}
.editor-dialog.store-browser .folder-content div.data {
  max-height: 370px;
  height: 370px;
  overflow-x: hidden;
  /*div:not([data-type='page']) {
                    .edit-button {
                        visibility: hidden;
                    }
                }*/
  /*.page-row[data-landing-page='true'] {
                    .delete-button {
                        visibility: hidden;
                    }
                }*/
}
.editor-dialog.store-browser .folder-content div.data .page-row[data-landing-page='true'] .delete-button {
  visibility: hidden;
}
.editor-dialog.store-browser .folder-content div.data .document-row .edit-button {
  visibility: hidden;
}
.editor-dialog.store-browser .folder-content div.data .image-row .edit-button {
  visibility: hidden;
}
.editor-dialog.store-browser .folder-content .url {
  position: relative;
  float: left;
  width: 33.33333333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.editor-dialog.store-browser .folder-content .name {
  position: relative;
  float: left;
  width: 41.66666667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 0;
}
.editor-dialog.store-browser .folder-content .remarks {
  position: relative;
  float: left;
  width: 8.33333333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 0;
}
.editor-dialog.store-browser .folder-content .image-row .name {
  position: relative;
  float: left;
  width: 29.16666667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 0;
}
.editor-dialog.store-browser .folder-content .image-row .remarks {
  text-align: right;
  font-size: xx-small;
  position: relative;
  float: left;
  width: 20.83333333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 0;
}
.editor-dialog.store-browser .folder-content .buttons {
  position: relative;
  float: left;
  width: 12.5%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-right: 0;
}
.editor-dialog.store-browser .folder-content .buttons > span {
  margin-left: 2px;
  float: right !important;
}
.editor-dialog.store-browser .folder-content .header .url {
  margin-left: 2px;
}
.editor-dialog.store-browser .folder-content .data .buttons span {
  cursor: pointer;
}
.editor-dialog.store-browser .folder-content .data .edit-button:hover {
  color: #337ab7;
}
.editor-dialog.store-browser .folder-content .data .delete-button:hover {
  color: #d9534f;
}
.editor-dialog.store-browser .folder-content .data .url {
  cursor: pointer;
  /*border: 1px solid red;
                    border-radius: 2px;*/
  /*margin-left: 2px;
                    margin-right: 2px;*/
  /*&:hover {
                        border: 2px solid hsl(207.7, 100%, 45.9%);
                    }

                    &.selected {
                        background-color: hsl(207, 75%, 64%);
                        color: white;
                    }*/
}
.editor-dialog.store-browser .folder-content .data .url img {
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 2px;
}
.editor-dialog.store-browser .folder-content .data .name .size {
  font-size: x-small;
}
.editor-dialog.store-browser .browser-tree {
  max-height: 400px;
  height: 400px;
  width: auto;
  white-space: nowrap;
  overflow: auto;
  padding-right: 8px;
  margin-right: 8px;
}
.editor-dialog.store-browser .store-browser-commands.normal-mode button.select-mode {
  display: none;
}
.editor-dialog.store-browser .store-browser-commands.select-mode button.normal-mode {
  display: none;
}
.editor-dialog .help-block {
  font-size: smaller;
  font-style: italic;
}
.editor-dialog .checkbox-label {
  font-weight: normal;
}
.editor-dialog .checkbox-label img {
  margin-bottom: 6px;
}
.editor-dialog .checkbox-label input {
  vertical-align: middle;
  margin-bottom: 6px;
}
.editor-dialog .checkbox-label span {
  margin-left: 4px;
}
.editor-dialog.group-selector .group-box {
  border: 1px solid #737373;
  margin: 2px;
  padding: 2px 8px 2px 8px;
  border-radius: 3px;
}
.editor-dialog.group-selector .system-group {
  font-style: italic;
}
.editor-dialog.group-selector .group-name,
.editor-dialog.group-selector .group-parent {
  font-style: normal;
}
.editor-dialog.group-selector .group-parent {
  font-size: 9px;
  color: #737373;
}
.editor-dialog.group-selector .access-settings {
  margin-top: -4px;
  font-size: 0.9em;
}
.editor-dialog.group-selector .access-settings .checkbox-label {
  vertical-align: middle;
}
.editor-dialog .group-panel.inherited-restrictions {
  font-size: 0.75em;
}
.editor-dialog .group-panel .panel-items {
  padding: 8px;
}
.editor-dialog .group-panel .panel-items .panel-item span {
  margin-right: 2px;
}
.editor-dialog .group-panel .panel-items .panel-item .weight {
  font-size: x-small;
  font-style: italic;
}
.field-validation-error {
  font-style: italic;
  color: #d9534f;
}
i.mce-i-wflink:before {
  content: "\e011";
}
#ui-datepicker-div {
  z-index: 45001 !important;
}
/*.login-status {
    display:none; */