@using Fastnet.Webframe.BookingData
@{
    ViewBag.Title = "Booking";
    ViewBag.BaseUrl = Request.Url.GetLeftPart(UriPartial.Authority) + VirtualPathUtility.ToAbsolute("~/");
    ViewBag.AppName = BookingGlobals.GetAbodeName() + " Booking System";
}
<div class="row">
    <div class="col-xs-12">
        <div id="bookingCalendar"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="booking-interaction"></div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/booking")
    @*@Scripts.Render("~/bundles/booking/custom")*@
    <script>
        var bookingApp = null;
        (function ($) {
            @*var _u = fastnet.utilities.getInstance();
            _u.setBaseUrl('@Url.Content("~/")');*@
            bookingApp = new fastnet.booking.bookingApp();
            bookingApp.start();

        })(jQuery);
    </script>
}