@model Fastnet.Webframe.Web.Areas.booking.PaymentSuccessModel
@{
    ViewBag.Title = "Payment Status";
    ViewBag.BaseUrl = Request.Url.GetLeftPart(UriPartial.Authority) + VirtualPathUtility.ToAbsolute("~/");
}
<div class="row">
    <div class="col-xs-12">
        <div class="booking-confirmation">
            <h3>Booking Confirmation</h3>
            <div class="paragraph">Thank you for your payment.</div>
            <div class="paragraph">A confirmed booking, reference <strong>@Model.BookingReference</strong>, has been made for you and an email has been sent to you at <i>@Model.MemberEmailAddress</i> with the details.</div>
            <hr />
            <div class="boiler-plate">
                <div class="paragraph">Please note that this email is sent by an automated system - if you do not receive it, please first check in your junk mail folder.</div>
                <div class="paragraph">If you have not received the email within 24 hours, or for any other query, please contact the <a href="mailto://@Model.BookingSecretaryEmailAddress">Booking Secretary</a> quoting your booking reference and date of booking.</div>
            </div>
            <div class="home-link"><a href="/home">Back to home page</a></div>
        </div>
    </div>
</div>
