<div class="SitePanel">
    <div class="BannerPanel">
        <webframe-page class="page-component" [pageId]="this.getPageId()"></webframe-page>
    </div>
    <inline-dialog>
        <div dialogbody>
            <email-input label="Email Address" [(ngModel)]="model.member.emailAddress" [validator]="emailAddressValidator" ></email-input>
            <password-input label="Password"  [(ngModel)]="model.member.password" [validator]="passwordValidator2Async"></password-input>
            <password-input label="Confirm Password"  [(ngModel)]="model.passwordConfirmation" [validator]="confirmPasswordValidator"></password-input>
            <text-input label="First Name"  [(ngModel)]="model.member.firstName" [validator]="firstNameValidatorAsync"></text-input>
            <text-input label="Last Name"  [(ngModel)]="model.member.lastName" [validator]="lastNameValidatorAsync"></text-input>
            <text-input label="Club/Organisation"  [(ngModel)]="model.member.organisation"></text-input>
            <text-input label="BMC Membership"  [(ngModel)]="model.member.bmcMembership" [validator]="bmcNumberValidatorAsync"></text-input>
        </div>
        <div dialogcommandbar>
            <div class="right">
                <button (click)="onRegister()">Register</button>
                <button class="cancel"  (click)="onCancel()">Cancel</button>
            </div>
        </div>
    </inline-dialog>
    <pre>{{model | json}}</pre>
</div>
<popup-dialog>
    <div dialogheader>
        <div>Registration</div>
    </div>
    <div dialogbody>
        <p>
            An account has been created for you and an email has been sent to {{model.member.emailAddress}}. This email contains an
            activation link - please use this link to activate this account.
        </p>
        <p>Once the account has been activated, you will be able to login to this site.</p>
        <p>Please note that you may need to check your junk mail folder to find this email.</p>
        <p>
            <i>
                We use email activation to ensure that the email address you provided is both valid and one that you can use.
                This helps us to keep our site secure.
            </i>
        </p>
    </div>
    <div dialogcommandbar>
        <div class="centre">
            <button (click)="onPopupClose()">OK</button>
        </div>
    </div>
</popup-dialog>
