$default-text-colour: black;
$alt-foreground-colour: black;
$alt-background-colour: white;
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $default-text-colour;
}
.app-container {
    height: 100%;
    width: 100%;
     > div:first-child {
        height: 100%;
    }
}

/*#message-box {
    $caption-background: cornflowerblue;
    $caption-colour: white;
    .caption {
        background-color: $caption-background;
        color: $caption-colour;
    }
    .message-body {
        margin: 0.25em;
    }
    .error {
        color: red;
    }
}*/
modal-dialog {
    $caption-background: cornflowerblue;
    $caption-colour: white;

    .caption {
        background-color: $caption-background;
        color: $caption-colour;
    }

    .message-body {
        margin: 0.25em;
    }

    .error {
        color: red;
    }
}

