//@import "../../fastnet/themes/_themes.scss";

/*$default-text-colour: black;
$alt-foreground-colour: black;
$alt-background-colour: white;*/
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.app-container {
    height: 100%;
    width: 100%;
     > div:first-child {
        height: 100%;
    }
}
.is-weekend {
    background-color: red;
    color: white;
}
.trace-text {
    color: gray;
    font-size: 8px;
}
.folder-colour {
    color: #ffbb00;
}
.image-view {
    text-align: center;
    img {
        max-height: 100%;
        max-width: 100%;
        margin: auto auto;
    }
}
.page-view {
    transform: scale(0.75);
    transform-origin: left top;
    max-height: 75vh;
    overflow: auto;
}


