<div >
    <div class="form-body editor-dialog insert-link">
        <h4>Enter link url and text</h4>
        <div class="form-group" data-property>
            <div class="input-group" y>
                <!--<label for="linkurl">Link Url</label>-->
                <input type="text" class="form-control" id="linkurl" placeholder="link url" data-item="linkurl" value="{{LinkUrl}}" data-focus>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" data-cmd="find-link"><span class="fa fa-search"></span></button>
                </span>
            </div>

            <div class="message"></div>
        </div>

        <div class="form-group" data-property>
            <label for="linktext">Text</label>
            <input type="text" class="form-control" id="linktext" placeholder="link text" data-item="linktext" value="{{LinkText}}">
            <div class="help-block">Leave blank to use the url as the link text</div>
            <div class="message"></div>

        </div>
        <div class="error"></div>
    </div>
    <div class="form-footer">
        <div class="form-group">
            <button class="btn btn-primary" data-cmd="insertlink">Insert</button>
            <button class="btn btn-default" data-cmd="cancel">Cancel</button>
        </div>
    </div>

</div>
