<div class="folder-content">
    <div class="header">
        <div class="row">
            <div class="url">Url</div>
            <div class="name">Name</div>
            <div class="remarks"></div>
            <div class="buttons"></div>
            <!--<div class="delete-button"></div>-->
        </div>
    </div>
    <div class="data">
        {{#data}}
        <div class="row">
            {{#IsPage}}
            <div class="page-row item-row" data-id="{{Id}}" data-name="{{Name}}" data-pagetype="{{PageType}}" data-type="{{Type}}" data-url="{{Url}}" data-landing-page="{{LandingPage}}">
                <div class="url"><img src="{{PageTypeImage}}" title="{{PageTypeTooltip}}" /><span>{{Url}}</span></div>
                <div class="name"><div>{{Name}}</div><div class="size">{{Size}}</div></div>
                <div class="remarks">
                    {{#LandingPage}}
                    <img src="{{LandingPageImage}}" />
                    {{/LandingPage}}
                </div>
                <div class="buttons">
                    <span>
                        <span class="fa fa-pencil-square-o edit-button edit" title="Edit properties"></span>
                        <span class="fa fa-times delete-button delete" title="Delete"></span>
                    </span>
                </div>
            </div>
            {{/IsPage}}
            {{#IsDocument}}
            <div class="document-row  item-row" data-id="{{Id}}" data-name="{{Name}}" data-type="{{Type}}" data-url="{{Url}}">
                <div class="url"><img src="{{DocumentTypeImage}}" /><span>{{Url}}</span></div>
                <div class="name"><div>{{Name}}</div><div class="size">{{Size}}</div></div>
                <div class="remarks">
                </div>
                <div class="buttons">
                    <span>
                        <span class="fa fa-pencil-square-o edit-button edit" title="Edit properties"></span>
                        <span class="fa fa-times delete-button delete" title="Delete"></span>
                    </span>
                </div>
            </div>
            {{/IsDocument}}
            {{#IsImage}}
            <div class="image-row  item-row" data-id="{{Id}}" data-name="{{Name}}" data-type="{{Type}}" data-url="{{Url}}">
                <div class="url"><img src="{{ImageTypeImage}}" /><span>{{Url}}</span></div>
                <div class="name"><div>{{Name}}</div></div>
                <div class="remarks">
                    <div class="size">{{Size}}</div>
                </div>
                <div class="buttons">
                    <span>
                        <span class="fa fa-pencil-square-o edit-button edit" title="Edit properties"></span>
                        <span class="fa fa-times delete-button delete" title="Delete"></span>
                    </span>
                </div>
            </div>
            {{/IsImage}}

        </div>
        {{/data}}
    </div>
</div>
