<div >
    <div class="form-body editor-dialog upload-file">
        <div class="table table-striped files" id="previews">

            <div id="template" class="file-row">
                <!-- This is used as the file preview template -->
                <div class="preview">
                    <span><img data-dz-thumbnail /></span>
                </div>
                <div class="name">
                    <div data-dz-name></div>
                    <strong class="error text-danger" data-dz-errormessage></strong>
                </div>
                <div class="size">
                    <p data-dz-size></p>
                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                        <div class="progress-bar progress-bar-success" style="width:0;" data-dz-uploadprogress></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="form-footer">
        <div class="help-block pull-left">Use the Add button to add files to the panel above</div>
        <div>
            <button class="btn btn-success fileinput-button" data-cmd="add-files">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Add</span>
            </button>
            <button class="btn btn-primary start" data-cmd="start-upload">
                <span>Start</span>
                <!--<i class="glyphicon glyphicon-upload"></i>
                <span>Start</span>-->
            </button>
            <button data-dz-remove class="btn btn-warning cancel" data-cmd="cancel">
                <span>Cancel</span>
                <!--<i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel</span>-->
            </button>
            <button class="btn btn-default" data-cmd="close-upload">
                <span>Close</span>
            </button>
            <!--<button data-dz-remove class="btn btn-danger delete">
                <i class="glyphicon glyphicon-trash"></i>
                <span>Delete</span>
            </button>-->
        </div>
    </div>
</div>

