.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
@-ms-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-webkit-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
table.dataTable {
  /*
           table.dataTable thead .sorting {
          background-image: url("../images/sort_both.png");
        }
        table.dataTable thead .sorting_asc {
          background-image: url("../images/sort_asc.png");
        }
        table.dataTable thead .sorting_desc {
          background-image: url("../images/sort_desc.png");
        }
        table.dataTable thead .sorting_asc_disabled {
          background-image: url("../images/sort_asc_disabled.png");
        }
        table.dataTable thead .sorting_desc_disabled {
          background-image: url("../images/sort_desc_disabled.png");
        }
        */
}
table.dataTable thead .sorting {
  background-image: url("../../../Content/datatables/images/sort_both.png");
}
table.dataTable thead .sorting_asc {
  background-image: url("../../../Content/datatables/images/sort_asc.png");
}
table.dataTable thead .sorting_desc {
  background-image: url("../../../Content/datatables/images/sort_desc.png");
}
table.dataTable thead .sorting_asc_disabled {
  background-image: url("../../../Content/datatables/images/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
  background-image: url("../../../Content/datatables/images/sort_desc_disabled.png");
}
.SitePanel {
  width: auto;
}
.BannerPanel {
  /*background-color: white;*/
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: flexbox;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.login-invitation {
  margin: 4px;
  font-size: 0.9em;
}
.login-invitation a {
  color: orangered;
}
.login-status {
  z-index: 33333;
  /*&.enable {
        display: block;
    }

    &:not(.enable) {
        display: none;
    }*/
  position: relative;
  /*.login-name:before {
        content: "Welcome: ";
    }*/
}
.login-status .login-name {
  text-decoration: none;
  font-size: 0.9em;
  margin-right: 8px;
  /*&:hover {
            text-decoration: underline;
        }

        a {
            color: white;
        }*/
}
.login-status div {
  position: absolute;
  right: 0;
  top: 60px;
  margin-right: 4px;
  background: transparent;
  color: white;
}
.BannerContent {
  position: relative;
}
.BannerContent .app-title {
  z-index: 4499;
  position: absolute;
  top: 10px;
  left: 64px;
  color: #ffffff;
  font-size: 2em;
}
@media only screen and (max-width: 768px) {
  .BannerContent .app-title {
    left: 44px;
    top: 8px;
    font-size: 1.25em;
  }
}
@media only screen and (max-width: 480px) {
  .BannerContent .app-title {
    left: 24px;
    top: 6px;
    font-size: 1.0em;
  }
}
@media only screen and (max-width: 320px) {
  .BannerContent .app-title {
    left: 4px;
    top: 4px;
    font-size: 0.75em;
  }
}
.message-box-body {
  font-size: smaller;
}
button.side-button {
  margin-top: 2.35em;
  font-size: 0.75em;
}
.my-bookings {
  /*@media only screen and (max-width: @very-wide) {
        font-size: 1.25em;
    }*/
}
@media only screen and (max-width: 480px) {
  .my-bookings {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 320px) {
  .my-bookings {
    font-size: 0.6em;
  }
}
.my-bookings.payment-gateway-disabled .make-payment-button {
  display: none;
}
.my-bookings .table.dataTable.no-footer {
  border: none;
}
.my-bookings .table.dataTable thead th,
.my-bookings .table.dataTable tbody td {
  border: none;
}
.address-details .validationMessage {
  font-size: x-small;
  color: #b91d47;
  font-style: italic;
}
.address-details .validation-error {
  border: 1px solid red;
}
.booking-confirmation,
.booking-failed {
  margin-left: 5px;
  margin-right: 5px;
}
.booking-confirmation .paragraph,
.booking-failed .paragraph {
  margin-bottom: 8px;
}
.booking-confirmation .boiler-plate,
.booking-failed .boiler-plate {
  font-size: 0.8em;
  color: #373737;
}
.booking-forms .ui-chrome-titlebar,
.booking-forms .ui-form-titlebar {
  background-image: none;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  background-color: #2d89ef;
}
.booking-forms .ui-chrome-title,
.booking-forms .ui-form-title {
  color: #ffffff;
}
.booking-forms .ui-chrome-systemclose {
  color: #ee1111;
}
.booking-forms .ui-chrome-systemclose:hover,
.booking-forms .ui-chrome-systemclose:focus,
.booking-forms .ui-chrome-systemclose:active {
  background-color: transparent !important;
  color: #ffffff !important;
}
.booking-forms .ui-form-buttonpane {
  overflow: auto;
  border-top: 2px solid #2d89ef;
}
.booking-forms .ui-form-button {
  background-image: none !important;
  background-color: #2d89ef !important;
  color: #ffffff !important;
  border: 1px solid #0d57a9 !important;
  min-width: 80px !important;
  font-size: 0.8em !important;
  outline: none !important;
}
.booking-forms .ui-form-button:hover {
  background-color: #a3ccf8 !important;
  color: #ffffff !important;
}
.booking-forms .ui-form-button[disabled],
.booking-forms .ui-form-button[disabled]:hover,
.booking-forms .ui-form-button[disabled]:focus,
.booking-forms .ui-form-button[disabled]:active {
  background-color: #cecece !important;
  cursor: not-allowed !important;
  color: #ffffff !important;
}
.booking-forms hr {
  margin-top: 4px;
  margin-bottom: 4px;
}
.booking-forms .help-button {
  background-image: none !important;
  background-color: #00aba9 !important;
  color: #ffffff !important;
  border: 1px solid #004544 !important;
}
.booking-forms .help-button:hover {
  background-color: #2bfffd !important;
  color: #ffffff !important;
}
.booking-forms .help-button[disabled],
.booking-forms .help-button[disabled]:hover,
.booking-forms .help-button[disabled]:focus,
.booking-forms .help-button[disabled]:active {
  background-color: #959595 !important;
  cursor: not-allowed !important;
  color: #ffffff !important;
}
.booking-forms label {
  font-size: x-small;
  color: #2d89ef;
  font-weight: normal;
}
.booking-forms .message-block {
  font-size: small;
  color: #1e7145;
  font-style: italic;
}
.booking-forms .validationMessage {
  font-size: x-small;
  color: #b91d47;
  font-style: italic;
}
.booking-forms .validation-error {
  border: 1px solid red;
}
.booking-forms .help-block {
  font-size: small;
  font-style: italic;
  color: #2b5797;
}
@media only screen and (max-width: 768px) {
  .booking-forms {
    font-size: 1.20em;
  }
}
@media only screen and (max-width: 480px) {
  .booking-forms {
    font-size: 1.0em;
  }
}
@media only screen and (max-width: 320px) {
  .booking-forms {
    font-size: 0.8em;
  }
}
.booking-forms .checkbox {
  margin-bottom: 0;
}
.booking-forms .choice-announcement {
  font-size: smaller;
}
.booking-forms .choice-list {
  margin-top: 12px;
  font-size: smaller;
}
.booking-forms .choice-list .choice-button {
  width: 0.5%;
}
.booking-forms .choice-list .choice-cost {
  width: 0.5%;
}
.booking-forms .choice-list .choice-description {
  font-size: smaller;
}
.booking-forms .booking-form button[data-cmd='show-tc'] {
  font-style: italic;
  font-size: x-small;
  margin: 0;
  padding: 0;
}
.booking-disallowed {
  font-weight: bold;
}
.booking-disallowed .explanation {
  font-size: x-small;
  font-weight: lighter;
  color: red;
}
#bookingCalendar .ui-widget {
  font-size: 0.9em;
}
#bookingCalendar .ui-state-disabled {
  opacity: inherit;
}
#bookingCalendar .ui-datepicker table {
  font-size: 0.8em;
}
#bookingCalendar .ui-datepicker th {
  font-weight: normal;
}
#bookingCalendar .out-of-service a,
#bookingCalendar .out-of-service span,
#bookingCalendar .blocked a,
#bookingCalendar .blocked span,
#bookingCalendar .part-booked a,
#bookingCalendar .part-booked span,
#bookingCalendar .not-bookable a,
#bookingCalendar .not-bookable span,
#bookingCalendar .fully-booked a,
#bookingCalendar .fully-booked span,
#bookingCalendar .free a,
#bookingCalendar .free span {
  color: white;
}
#bookingCalendar .out-of-service,
#bookingCalendar .out-of-service a,
#bookingCalendar .out-of-service span {
  background: black;
}
#bookingCalendar .blocked,
#bookingCalendar .blocked a,
#bookingCalendar .blocked span {
  background: #808080;
}
#bookingCalendar .part-booked,
#bookingCalendar .part-booked a,
#bookingCalendar .part-booked span {
  background: orange;
}
#bookingCalendar .fully-booked,
#bookingCalendar .fully-booked a,
#bookingCalendar .fully-booked span {
  background: red;
}
#bookingCalendar .free,
#bookingCalendar .free a,
#bookingCalendar .free span {
  background: #00c800;
}
#bookingCalendar .not-bookable,
#bookingCalendar .not-bookable a,
#bookingCalendar .not-bookable span {
  background: #805050;
}
.booking-month.ui-widget {
  font-size: 0.9em;
  /*.ui-state-highlight {
            
        }
        .ui-state-active {
            background-color: @blue;
        }*/
}
.booking-month.ui-widget .ui-state-disabled {
  opacity: inherit;
}
.booking-month.ui-widget.ui-datepicker table {
  font-size: 0.8em;
}
.booking-month.ui-widget.ui-datepicker th {
  font-weight: normal;
}
.booking-month .out-of-service a,
.booking-month .out-of-service span,
.booking-month .blocked a,
.booking-month .blocked span,
.booking-month .part-booked a,
.booking-month .part-booked span,
.booking-month .not-bookable a,
.booking-month .not-bookable span,
.booking-month .fully-booked a,
.booking-month .fully-booked span,
.booking-month .free a,
.booking-month .free span {
  color: white;
}
.booking-month .out-of-service,
.booking-month .out-of-service a,
.booking-month .out-of-service span {
  background: black;
}
.booking-month .blocked,
.booking-month .blocked a,
.booking-month .blocked span {
  background: #808080;
}
.booking-month .part-booked,
.booking-month .part-booked a,
.booking-month .part-booked span {
  background: orange;
}
.booking-month .fully-booked,
.booking-month .fully-booked a,
.booking-month .fully-booked span {
  background: red;
}
.booking-month .free,
.booking-month .free a,
.booking-month .free span {
  background: #00c800;
}
.booking-month .not-bookable,
.booking-month .not-bookable a,
.booking-month .not-bookable span {
  background: #805050;
}
.booking-month.end-month .not-bookable.allow a {
  background: #ccadad;
}
.booking-month.end-month .fully-booked.allow a {
  background: #ffa8a8;
}
.booking-month.end-month .blocked.allow a {
  background: #d4d4d4;
}
.booking-month.end-month .out-of-service.allow a {
  background: #545454;
}
.index-page .sub-section {
  font-size: 12px;
  line-height: 18px;
  /*.row {
            //border-top: 1px solid black;


            }*/
}
.index-page .sub-section .heading {
  margin: 12px;
  font-size: larger;
  font-weight: bold;
}
.index-page .btn-link {
  font-family: Verdana;
  font-size: 12px;
  padding-top: 0;
  text-align: left;
}
.report-forms .ui-chrome-titlebar,
.report-forms .ui-form-titlebar {
  background-image: none;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  background-color: #373737;
}
.report-forms .ui-chrome-title,
.report-forms .ui-form-title {
  color: #ffffff;
}
.report-forms .ui-chrome-systemclose {
  color: #ee1111;
}
.report-forms .ui-chrome-systemclose:hover,
.report-forms .ui-chrome-systemclose:focus,
.report-forms .ui-chrome-systemclose:active {
  background-color: transparent !important;
  color: #ffffff !important;
}
.report-forms .ui-form-buttonpane {
  overflow: auto;
  border-top: 2px solid #373737;
}
.report-forms .ui-form-button {
  background-image: none !important;
  background-color: #2d89ef !important;
  color: #ffffff !important;
  border: 1px solid #0d57a9 !important;
  min-width: 80px !important;
  font-size: 0.8em !important;
  outline: none !important;
}
.report-forms .ui-form-button:hover {
  background-color: #a3ccf8 !important;
  color: #ffffff !important;
}
.report-forms .ui-form-button[disabled],
.report-forms .ui-form-button[disabled]:hover,
.report-forms .ui-form-button[disabled]:focus,
.report-forms .ui-form-button[disabled]:active {
  background-color: #cecece !important;
  cursor: not-allowed !important;
  color: #ffffff !important;
}
.report-forms .ui-form-button[data-cmd='cancel-booking'] {
  background-color: #ee1111 !important;
  border: 1px solid #8f0a0a !important;
}
.report-forms .pricing-form .heading {
  font-weight: bold;
  font-size: larger;
}
.report-forms .pricing-form table {
  table-layout: fixed;
}
.report-forms .pricing-form td.date-from {
  max-width: 300px;
}
.report-forms .pricing-form td.price > div {
  text-align: right;
}
.report-forms .pricing-form .new-price-subform .heading {
  font-size: smaller;
}
.report-forms .pricing-form .new-price-subform label {
  font-size: x-small;
  color: #2d89ef;
  font-weight: normal;
}
.report-forms .pricing-form .new-price-subform .validationMessage {
  font-size: x-small;
  color: #b91d47;
  font-style: italic;
}
.report-forms .pricing-form .new-price-subform .validation-error {
  border: 1px solid red;
}
.report-forms .manage-days #bookingCalendar {
  padding-top: 8px;
  padding-bottom: 8px;
}
.report-forms .manage-days .heading {
  font-weight: bold;
  font-size: larger;
}
.report-forms .manage-days .blocked-periods-panel {
  /*border-top: 1px solid @grey;
            border-bottom: 1px solid @grey;*/
  padding: 8px 0 8px 0;
}
.report-forms .manage-days .new-period-button .btn-link {
  font-size: 0.75em;
}
.report-forms .manage-days .new-period-subform .heading {
  font-size: smaller;
}
.report-forms .manage-days .new-period-subform label {
  font-size: x-small;
  color: #2d89ef;
  font-weight: normal;
}
.report-forms .manage-days .new-period-subform .validationMessage {
  font-size: x-small;
  color: #b91d47;
  font-style: italic;
}
.report-forms .manage-days .new-period-subform .validation-error {
  border: 1px solid red;
}
.report-forms .manage-days .new-period-subform .form-group {
  margin-bottom: 0;
}
.report-forms .manage-days .new-period-subform .button-panel {
  margin-top: 8px;
}
.report-forms .manage-days .new-period-subform .button-panel button {
  min-width: 100px;
}
.report-forms .manage-days .new-period-subform .button-panel button[data-cmd='save-new-period'] {
  margin-right: 8px;
}
.report-forms .manage-days .online-booking-subform {
  margin-top: 8px;
}
.report-forms .manage-days .online-booking-subform .booking-open .caption {
  height: 32px;
  background-color: #1e7145;
  color: white;
  text-align: center;
  padding: 5px 4px 4px 4px;
  border-radius: 3px;
}
.report-forms .manage-days .online-booking-subform .booking-closed .caption {
  min-height: 32px;
  background-color: #b91d47;
  color: white;
  text-align: center;
  padding: 4px;
  border-radius: 3px;
}
.report-forms .edit-booking-form .booking-history {
  border: 1px solid #555555;
  border-radius: 3px;
  padding: 4px;
  min-height: 100px;
  font-size: 0.8em;
  overflow-y: scroll;
}
.report-forms .edit-booking-form .booking-history .system-note .notes-timestamp {
  color: #1e7145;
}
.report-forms .edit-booking-form .booking-history .system-note .notes-by {
  color: #373737;
}
.report-forms .edit-booking-form .booking-history .system-note .notes-text {
  color: #373737;
  font-style: italic;
}
.report-forms .parameters-form .inner-panel {
  padding-left: 15px;
  padding-right: 15px;
  /*.row:not(:first-child):not(:last-child) {
                border-top: 1px solid @separator-colour;
            }*/
}
.report-forms .parameters-form .inner-panel .boxed-group {
  border: 2px solid #8cbef6;
  border-radius: 4px;
  margin: 4px;
  padding: 4px;
}
.report-forms .parameters-form .inner-panel .form-group-sm {
  margin-top: 8px;
}
.report-forms .parameters-form .inner-panel select {
  margin-bottom: 4px;
}
.report-forms .parameters-form .help-block {
  margin-top: 0;
  font-style: italic;
  font-size: 0.75em;
}
.report-forms .edit-email-template label {
  font-size: x-small;
  color: #2d89ef;
  font-weight: normal;
}
.report-forms .edit-email-template .validationMessage {
  font-size: x-small;
  color: #b91d47;
  font-style: italic;
}
.report-forms .edit-email-template .validation-error {
  border: 1px solid red;
}
.report-forms .edit-email-template .message-block {
  font-size: small;
  color: #1e7145;
  font-style: italic;
}
.report-forms .edit-email-template .template-editor {
  margin-top: 12px;
}
.report-forms .edit-email-template .template-editor iframe {
  height: 400px;
}
.report-forms .email-keywords table {
  font-size: 0.75em;
}
.report-forms .email-keywords .help-block {
  font-size: 0.75em;
}
.admin-reports {
  margin-top: 8px;
  margin-bottom: 8px;
}
.admin-reports label {
  font-size: x-small;
  color: #2d89ef;
  font-weight: normal;
}
.admin-reports .message-block {
  font-size: small;
  color: #1e7145;
  font-style: italic;
}
.admin-reports .validationMessage {
  font-size: x-small;
  color: #b91d47;
  font-style: italic;
}
.admin-reports .validation-error {
  border: 1px solid red;
}
.admin-reports .help-block {
  font-size: small;
  font-style: italic;
  color: #2b5797;
}
.admin-reports .ui-widget {
  font-size: 0.9em;
}
.admin-reports .ui-widget .ui-state-disabled {
  opacity: inherit;
}
.admin-reports .ui-widget.ui-datepicker table {
  font-size: 0.8em;
}
.admin-reports .ui-widget.ui-datepicker th {
  font-weight: normal;
}
.admin-reports .dataTables_wrapper .dataTables_length select {
  height: 24px;
  padding: 3px;
  border: 1px solid #00a300;
  border-radius: 3px;
}
.admin-reports .dataTables_wrapper .dataTables_filter input {
  height: 24px;
  border: 1px solid #00a300;
  border-radius: 3px;
  padding-left: 2px;
  padding-right: 2px;
}
.admin-reports .dataTables_wrapper .dataTables_paginate .paginate_button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 3px 6px;
  font-size: 12px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff !important;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.admin-reports .dataTables_wrapper .dataTables_paginate .paginate_button:focus,
.admin-reports .dataTables_wrapper .dataTables_paginate .paginate_button:active,
.admin-reports .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-image: none;
  outline: 0;
}
.admin-reports .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-color: #286090;
  border-color: #204d74;
}
.admin-reports.booking-report {
  font-size: 0.8em;
}
.admin-reports.booking-report table {
  width: 100%;
}
.admin-reports.booking-report table tr.privileged-member td.member {
  color: #1e7145;
}
.admin-reports.booking-report table tr.is-paid td.payment-indicator span.fa-check {
  display: inline;
}
.admin-reports.booking-report table tr.is-paid td.payment-buttons button[data-table-cmd='mark-paid'] {
  display: none;
}
.admin-reports.booking-report table tr:not(.is-paid) td.payment-indicator span.fa-check {
  display: none;
}
.admin-reports.booking-report table tr:not(.is-paid) td.payment-buttons button[data-table-cmd='mark-not-paid'] {
  display: none;
}
.admin-reports.booking-report table tr.status-Cancelled td.payment-buttons {
  display: none;
}
.admin-reports.booking-report table tr.status-Confirmed td.status {
  color: #1e7145;
}
.admin-reports.booking-report table tr.status-WaitingApproval td.status {
  color: #ee1111;
}
.admin-reports.booking-report table tr.status-Cancelled td.status {
  color: #333333;
}
.admin-reports.booking-report button.edit-button {
  font-size: 1.0em;
}
.admin-reports.occupancy-report .ui-datepicker-calendar {
  display: none;
}
.admin-reports.occupancy-report .ui-widget-content {
  border: none;
}
.admin-reports.occupancy-report button.side-button {
  margin-top: 2.60em;
  font-size: 0.75em;
}
.admin-reports.occupancy-report .report-content {
  margin-top: 12px;
}
.admin-reports.occupancy-report .report-content .day-row {
  margin-top: 4px;
  font-size: small;
}
.admin-reports.occupancy-report .report-content .day-row .day-date {
  display: inline-block;
  width: 10%;
}
.admin-reports.occupancy-report .report-content .day-row .status-description {
  font-style: italic;
}
.admin-reports.occupancy-report .report-content .day-details.IsPartBooked,
.admin-reports.occupancy-report .report-content .day-details.IsFull {
  margin-left: 24px;
  /*border: 0.01em solid #808080;
                border-radius: 3px;*/
  padding: 4px;
}
.admin-reports.occupancy-report .report-content .IsFree-day {
  color: #00c800;
}
.admin-reports.occupancy-report .report-content .IsFull-day {
  color: red;
}
.admin-reports.occupancy-report .report-content .IsClosed-day {
  color: black;
}
.admin-reports.occupancy-report .report-content .IsPartBooked-day {
  color: orange;
}
.admin-reports.occupancy-report .report-content .IsNotBookable-day {
  color: #805050;
}
.admin-reports.occupancy-report .report-content .accomodation-row {
  font-size: x-small;
}
.admin-reports.entry-codes .current-code-panel {
  border-bottom: 1px solid #373737;
  padding-bottom: 12px;
}
.admin-reports.entry-codes .code-list-panel {
  padding: 8px;
}
.admin-reports.entry-codes .add-entry-form input {
  width: 50%;
}
/*.ui-form-button[data-cmd='cancel-booking'] {
    background-image: none;
    background-color: @red;
    color: @white;
    border: 1px solid darken(@red, 20%);
    min-width: 80px;
    font-size: 0.8em;
    outline: none;
}*/
.test-form label {
  font-size: x-small;
  color: #2d89ef;
  font-weight: normal;
}
.test-form .order-list {
  margin-left: 7px;
}
.test-form .order-list button[data-cmd='remove-order'] {
  margin-top: 2.25em;
  font-style: italic;
  font-size: 0.75em;
}
.test-form .order-list .col-xs-3 {
  padding-left: 8px;
  padding-right: 8px;
}
.test-form .validationMessage {
  font-size: x-small;
  color: #b91d47;
  font-style: italic;
}
.test-form .validation-error {
  border: 1px solid red;
}