/*@import "../../styles/webframe.forms.scss";*/

$annotation-colour: #152eea;

.SitePanel {
    height: 100%;
}

.two-columns {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.25em;
    align-items: self-end;
}
.caption {
    font-size: 14px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: cornflowerblue;
    border-bottom: 2px solid cornflowerblue;
}
.annotation {
    font-size: 12px;
    color: $annotation-colour;

    &.no-space {
        display: flex;
    }

    &.warning {
        color: red;
    }
}

.bordered-container {
    padding: 0.25em;
    border: 1px solid black;
    border-radius: 0.25em;
}
.command-bar {
    background-color: darkblue;
    padding: 0.5em;
    display: grid;
    grid-gap: 0.25em;
    grid-template-columns: auto auto auto 1fr auto;

    button {
        width: auto;
        border: none;
        background-color: cornflowerblue;
        color: white;
    }
}

.command-buttons {
    font-size: 0.8em;
}

.membership-app-panel, .group-app-panel {
    display: flex;
    align-items: stretch;
    height: 100%;
    width: 100%;

    &.hidden {
        display: none;
    }

    .left-panel {
        //background-color: lightsteelblue;
        width: 100%;
        flex: 1;
    }

    .right-panel {
        //background-color: lightcyan;
        width: 100%;
        flex: 2;
    }
}

.membership-app-panel {
    search-input {
        border: 1px solid black;
        border-radius: 0.25em;
    }

    .member-index {
        $backcolor: white;
        $forecolor: cornflowerblue;
        margin: 0.5em;

        .address-book {
            margin-top: 0.5em;
            display: flex;

            .address-book-tabs {
                display: flex;
                flex-direction: column;

                button {
                    border: 1px solid black;
                    border-radius: 6px 0 0 6px;
                    background-color: $forecolor;
                    color: $backcolor;
                    height: 24px;
                    width: 24px;

                    &.selected {
                        background-color: darkorange;
                    }

                    &:not(:first-child) {
                        margin-top: -4px;
                    }

                    &:hover {
                        background-color: $backcolor;
                        color: $forecolor;
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }

            .address-book-list {
                border: 1px solid black;
                border-radius: 0 3px 3px 0;
                padding: 4px;
                width: 100%;
                height: 544px;
                overflow-y: auto;

                .member-entry {
                    .fa-ban {
                        color: red;
                    }

                    .fa-clock-o {
                        color: orange;
                    }

                    &:hover {
                        color: cornflowerblue;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.group-app-panel {
    margin-top: 1em;
    margin-bottom: 1em;

    .tree-panel {
        height: 100%;
        padding: 0.5em;
        max-width: 256px;
        border: 1px solid black;
        border-radius: 4px;
    }

    .group-member-panel {
        /*display: flex;
        justify-content: space-between;*/

        .group-members {
            margin-top: 1.0em;

            .caption-row {
                display: flex;
                justify-content: space-between;

                button {
                    height: auto;
                    font-size: 75%;
                    margin-bottom: 2px;

                    &:first-child {
                        margin-right: 2px;
                    }
                }
            }

            .label {
                color: black;
                font-size: 16px;
                font-weight: 600;
                padding-left: 0;
            }

            .member-list {
                padding-left: 0.5em;
                padding-right: 0.5em;
                /*border: 1px solid black;
                border-radius: 4px;*/
                font-size: smaller;
                max-height: 280px;
                overflow-y: scroll;

                bool-input {
                    margin-right: 0.24em;
                }
                /*input[type=checkbox] {
                    margin-top: 2px;
                    margin-right: 2px;
                }*/
                .member-item {
                    display: flex;
                    align-items: center;
                }
            }
        }

        .button-panel {
            display: flex;
            flex-direction: column;
            padding-top: 2.5em;
            padding-left: 0.25em;

            button {
                height: auto;
                font-size: 75%;
                margin-bottom: 0.25em;
            }
        }
    }
}

popup-dialog {
    .modal-container {
        width: 65%;

    }
    .member-list {
        padding-left: 0.25em;
        padding-right: 0.25em;
        max-height: 60vh;
        overflow-y: scroll;
        .member-item {
            display: flex;
            align-items: center;
        }
    }
}
