<div class="SitePanel">
    <div class="BannerPanel">
        <webframe-page class="page-component" [pageId]="this.getPageId()"></webframe-page>
    </div>
    <div class="mode-commands">
        <button (click)="setMode(false)">Members</button><button (click)="setMode(true)">Groups</button><button (click)="goBack()">Back</button></div>
    <div class="membership-app-panel" [ngClass]="{hidden: groupMode}">
        <div class="left-panel">
            <div class="member-index">
                <div class="search-group ">
                    <div><button title="Add a New Member" (click)="addNewMember()"><span class="fa fa-plus"></span></button></div>
                    <input type="text" placeholder="Search ..." [(ngModel)]="searchText" (input)="diagSearchText()" />
                    <span><button [ngClass]="{'not-visible': searchText.length === 0}" (click)="clearSearchText()"><span class="fa fa-remove"></span></button></span>
                    <span><button (click)="searchForMembers()"><span class="fa fa-search"></span></button></span>
                </div>
                <div class="address-book">
                    <div class="address-book-tabs">
                        <button *ngFor="let item of tabs" [ngClass]="{selected: item.selected}" (click)="selectTab(item)">{{item.name}}</button>
                    </div>
                    <div class="address-book-list">names here</div>
                </div>
            </div>
        </div>
        <div class="right-panel">
            <div class="webframe-form member-properties">
                <div class="caption">
                    <div >Main header</div>
                    <div class="sub-heading">Sub header</div>
                </div>
                <div class="form-body">
                    <email-input label="Email Address" name="emailAddress" [(ngModel)]="member.emailAddress"></email-input>
                    <text-input label="First Name" name="firstName" [(ngModel)]="member.firstName" [validator]="validators.item('firstName')"></text-input>
                    <text-input label="Last Name" name="lastName" [(ngModel)]="member.lastName" [validator]="validators.item('lastName')"></text-input>
                    <email-input label="Email Address" name="emailAddress" [(ngModel)]="member.emailAddress"></email-input>
                    <text-input label="Password" name="password" [(ngModel)]="member.password"></text-input>
                    <text-input label="Club/Organisation" name="club" [(ngModel)]="member.password"></text-input>
                    <text-input label="BMC Membership" name="bmcMembership" [(ngModel)]="member.password"></text-input>
                    <bool-input label="Disabled" name="disabled" [(ngModel)]="member.password"></bool-input>
                </div>
                <div class="command-buttons align-at-ends">
                    <div>
                        <button class="link">Alpha</button>
                        <button class="secondary" (click)="onBetaButton()">beta</button>
                    </div>
                    <div>
                        <button disabled>Login</button>
                        <button class="cancel">Cancel</button>
                    </div>
                </div>
            </div>
            <div>{{debug}}</div>
        </div>
    </div>
    <div class="group-app-panel hidden" [ngClass]="{hidden: !groupMode}">
        <div class="left-panel"></div>
        <div class="right-panel">
            <div>This is the group app</div>
        </div>
    </div>
    
    <!--<router-outlet></router-outlet>-->
</div>