//@import "modal-dialog.overrides";
@import "../themes/modal-dialog.theme.scss";
@import "modal-dialog.variables.scss";


modal-dialog, message-box {
    /* modals are hidden by default */
    display: none;
    //width: 80%;
    min-height: 200px;

    .modal-overlay {
        //all: initial; // because bootstrap is present - I need to take the time to remove bootstrap
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        overflow: auto;
        background-color: $modal-overlay-background-color;

        .modal-container {
            background-color: $modal-background-color;
            color: $modal-color;
            padding-left: $modal-padding-x;
            padding-right: $modal-padding-x;
            padding-top: $modal-padding-y;
            padding-bottom: $modal-padding-y;
            border: $modal-border;
            border-radius: $modal-border-radius;
            margin: $modal-outside-margin; // 4em 2em;
            .command-buttons {
                margin-top: 0.5em;
                display: flex;
                align-items: center;
                background-color: transparent;

                button {
                    margin-top: 0.25em;
                    margin-bottom: 0.25em;
                }

                &.align-centrally {
                    justify-content: center;
                    > button {
                        margin-left: 0.125em;
                        margin-right: 0.125em;
                    }
                }

                &.align-at-ends {
                    justify-content: space-between;

                    > div {
                        display: flex;
                        align-items: center;

                        &:first-child {
                            button:not(:first-child) {
                                margin-left: 0.25em;
                            }
                        }

                        &:last-child {
                            button:not(:last-child) {
                                margin-right: 0.25em;
                            }
                        }
                    }
                }

                button {
                    min-width: 80px;
                }
            }
        }
    }
    button {
        &.cancel {
            border: 1px solid #808080;
        }
    }
}

modal-dialog {
    .modal-container {
    width: 75%;
    }
}
message-box {
    .modal-container {
        width: 50%;
    }

    .caption {
        font-size: 20px;
        font-weight: bold;
        background-color: cornflowerblue;
        color: white;
        padding: 5px 10px;

        &.warning {
            background-color: red;
        }
    }
}
@media all and (max-width: 748px) {
    modal-dialog {
        .modal-overlay {
            //font-size: 5vw;
            .modal-container {
                margin: 2em 1em;
            }
        }
    }
}



body.modal-dialog-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}
