//@import "modal-dialog.overrides";
@import "../themes/modal-dialog.theme.scss";
@import "modal-dialog.variables.scss";

modal-dialog {
    /* modals are hidden by default */
    display: none;
    //width: 80%;
    min-height: 200px;

    .modal-overlay {
        //all: initial; // because bootstrap is present - I need to take the time to remove bootstrap
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        overflow: auto;
        background-color: $modal-overlay-background-color;

        .modal-container {
            background-color: $modal-background-color;
            color: $modal-color;
            padding-left: $modal-padding-x;
            padding-right: $modal-padding-x;
            padding-top: $modal-padding-y;
            padding-bottom: $modal-padding-y;
            border: $modal-border;
            border-radius: $modal-border-radius;
            margin: $modal-outside-margin; // 4em 2em;
        }
    }
}

@media all and (max-width: 748px) {
    modal-dialog {
        .modal-overlay {
            //font-size: 5vw;
            .modal-container {
                margin: 2em 1em;
            }
        }
    }
}



body.modal-dialog-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}
