<!-- include this html at the bottom of component template to ue for message-box's -->
<modal-dialog id="message-box">
    <div class="modal-overlay">
        <div *ngIf="messageBox; else noModel" class="modal-container">
            <div class="form-body">
                <div class="caption">{{messageBox.caption}}</div>
                <div class="message-body" [innerHTML]="messageBox.message" [ngClass]="{'error': messageBox.isAlert}"></div>
            </div>
            <div class="command-buttons align-centrally">
                <div *ngIf="messageBox.confirmBox === false">
                    <button class="default" (click)="onCloseMessageBox()">OK</button>
                </div>
                <div *ngIf="messageBox.confirmBox === true">
                    <button class="secondary" (click)="onConfirmMessageBox(true)">Yes</button>
                    <button class="default" (click)="onCloseMessageBox(false)">No</button>
                </div>
            </div>
        </div>
        <ng-template #noModel>No message object provided - use MessageBox class and call it messageBox</ng-template>
    </div>
</modal-dialog>