$modal-overlay-background-color: rgba(white, 0.77) !default;
$modal-background-color: white !default;
$modal-color: black !default;
$modal-border: 0.125em solid black !default;
$modal-padding-x: 0.25em  !default;
$modal-padding-y: 0.25em !default;
$modal-outside-margin: 10% auto !default;
$modal-border-radius: 0.25em !default;

.modal-dialog-settings {
    /* modals are hidden by default */
    display: none;
    //width: 80%;
    min-height: 200px;

    .modal-overlay {
        //all: initial; // because bootstrap is present - I need to take the time to remove bootstrap
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        overflow: auto;
        background-color: $modal-overlay-background-color;

        .modal-container {
            background-color: $modal-background-color;
            color: $modal-color;
            padding-left: $modal-padding-x;
            padding-right: $modal-padding-x;
            padding-top: $modal-padding-y;
            padding-bottom: $modal-padding-y;
            border: $modal-border;
            border-radius: $modal-border-radius;
            margin: $modal-outside-margin; // 4em 2em;
            .command-buttons {
                margin-top: 0.5em;
                display: flex;
                align-items: center;
                background-color: transparent;

                button {
                    margin-top: 0.25em;
                    margin-bottom: 0.25em;
                }

                &.align-centrally {
                    justify-content: center;

                    > button {
                        margin-left: 0.125em;
                        margin-right: 0.125em;
                    }
                }

                &.align-at-ends {
                    justify-content: space-between;

                    > div {
                        display: flex;
                        align-items: center;

                        &:first-child {
                            button:not(:first-child) {
                                margin-left: 0.25em;
                            }
                        }

                        &:last-child {
                            button:not(:last-child) {
                                margin-right: 0.25em;
                            }
                        }
                    }
                }

                button {
                    min-width: 80px;
                }
            }
        }
    }

    button {
        &.cancel {
            border: 1px solid #808080;
        }
    }
}

