$modal-overlay-background-color: rgba(white, 0.77) !default;
$modal-background-color: white !default;
$modal-color: black !default;
$modal-border: 0.125em solid black !default;
$modal-padding-x: 0.25em  !default;
$modal-padding-y: 0.25em !default;
$modal-outside-margin: 10% auto !default;
$modal-border-radius: 0.25em !default;

