<div>
    <div class="form-body identity-dialog changepassword">
        <div class="form-group">
            <p>{{EmailAddress}}</p>
        </div>
        <div class="form-group" data-property>
            <label for="password">New Password</label>
            <input type="password" class="form-control" id="password" placeholder="New Password" data-item="password" data-focus>
            <div class="message"></div>
        </div>
        <div class="form-group" data-property>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" data-item="confirm-password">
            <div class="message"></div>
        </div>
        <div class="error"></div>
    </div>
    <div class="form-footer">
        <button class="btn btn-primary" data-cmd="save-changes">Save</button>
        <button class="btn btn-default" data-cmd="cancel">Cancel</button>
    </div>
</div>
