<div >
    <div class="form-body identity-dialog login">
        <h4>Enter your email address and password</h4>
        <div class="form-group-sm" data-property>
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" data-item="email" data-focus value="{{username}}" >
            <div class="message"></div>
        </div>
        <div class="form-group-sm" data-property>
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" data-item="password" data-focus>
            <div class="message"></div>
        </div>
        <div class="error"></div>
    </div>
    <div class="form-footer">
        <div class="form-group">
            <button type="button" class="btn btn-link pull-left footer-link" tabindex="-1" data-cmd="passwordreset">Forgotten your Password?</button>
            <button type="button" class="btn btn-link pull-left footer-link" tabindex="-1" data-cmd="register">Register</button>
            <button type="submit" class="btn btn-primary" data-cmd="login">Login</button>
            <button type="button" class="btn btn-default" data-cmd="cancel">Cancel</button>
        </div>
    </div>   
</div>
