<div >
    <div class="form-body identity-dialog passwordresetconfirmation">
        <h4>Password Reset Link Sent</h4>
        <p>
            A password reset email has been sent to {{EmailAddress}}. This email contains a
            password reset link - please use this link to start the password change process.
        </p>
        <p>Please note that you may need to check your junk mail folder to find this email.</p>
        <p>
            <i>
                We use this method to reset passwords to ensure that only the original owner of this account can change the password.
                This helps us to keep our site secure.
            </i>
        </p>
    </div>
    <div class="form-footer">
        <button class="btn btn-primary" data-cmd="request-reset-close">Close</button>
    </div>
</div>
