<div >
    <div class="form-body identity-dialog passwordreset">
        <h4>Enter your email address</h4>
        <div class="form-group" data-property>
            <!--<label for="email">Email address</label>-->
            <input type="email" class="form-control" id="email"  data-item="email" data-focus>
            <div class="message"></div>
        </div>
        <div class="error"></div>
    </div>
    <div class="form-footer">
        <div class="form-group">
            <button class="btn btn-primary" data-cmd="request-reset">Request Reset</button>
            <button class="btn btn-default" data-cmd="cancel">Cancel</button>
        </div>
    </div>

</div>
