<div>
    <div class="form-body identity-dialog passwordreset-failed">
        <!--<h4>Password Reset has failed</h4>-->
        <p>The password reset link is not valid.</p>
        <p>If you need help with changing your password please contact the site administrator: <a href="mailto:{{AdminEmailAddress}}">{{AdminEmailAddress}}</a>.</p>
    </div>
    <div class="form-footer">
        <div class="form-group">
            <button class="btn btn-default" data-cmd="cancel">Close</button>
        </div>
    </div>

</div>
