<div class="dialog">
    <div class="form-body identity-dialog registration-confirmation">
        <h4>Account Created</h4>
        <p>
            An account has been created for you and an email has been sent to {{EmailAddress}}. This email contains an
            activation link - please use this link to activate this account.
        </p>
        <p>Once the account has been activated, you will be able to login to this site.</p>
        <p>Please note that you may need to check your junk mail folder to find this email.</p>
        <p>
            <i>
                We use email activation to ensure that the email address you provided is both valid and one that you can use.
                This helps us to keep our site secure.
            </i>
        </p>
    </div>
    <div class="form-footer">
        <button class="btn btn-primary" data-cmd="registration-close">Close</button>
    </div>
</div>
