<div >
    <div class="form-body identity-dialog uerprofile">
        <div class="form-group">
            <label for="email">Email address</label>
            <div>{{EmailAddress}}</div>
            <div class="message"></div>
        </div>
        <div class="form-group" data-property>
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name" data-item="first-name" value="{{FirstName}}" data-focus>
            <div class="message"></div>
        </div>
        <div class="form-group" data-property>
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name" data-item="last-name" value="{{LastName}}">
            <div class="message"></div>
        </div>
        <div class="error"></div>
    </div>
    <div class="form-footer">
        <button class="btn btn-primary" data-cmd="save-changes">Save Changes</button>
        <button class="btn btn-default" data-cmd="cancel">Cancel</button>
    </div>
</div>
