.BannerPanel {
  background: url("/image/22");
  background-size: 100%;
  background-repeat: none;
  background-position: right;
  Height: 88px;
  Width: 840px;
}
.BannerPanel p {
  font-size: 30pt;
  color: white;
  vertical-align: top;
}
@media all and (max-width: 748px) {
  .BannerPanel {
    background-color: #9C898B;
    background-image: none;
    background-position: centre;
    Height: 55px;
    Width: 100%;
  }
}
