.CentrePanel {
  width: 90%;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 15px;
}
@media all and (max-width: 748px) {
  .CentrePanel {
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
  }
}
