.ContentPanel h1 {
  font-size: 200%;
}
.ContentPanel h2 {
  font-size: 150%;
}
.ContentPanel h3 {
  font-size: 112.5%;
}
.ContentPanel .align-left {
  float: left;
  margin-right: 10px;
}
.ContentPanel .align-right {
  float: right;
  margin-left: 10px;
}
.ContentPanel .centre-text {
  text-align: centre;
}
.ContentPanel figure {
  float: right;
  margin-left: 10px;
}
.ContentPanel figcaption {
  text-align: center;
}
.ContentPanel .fullpanel-image {
  width: 100%;
  height: 62%;
  padding-bottom: 10px;
}
.ContentPanel table,
.ContentPanel th,
.ContentPanel td {
  border: 0px solid black;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  vertical-align: top;
  padding: 2px;
  padding-bottom: 10px;
  table-layout: fixed;
}
.ContentPanel .button {
  width: 66%;
  border: none;
  color: white;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: auto;
  cursor: pointer;
  padding: 4px 4px 4px 4px;
  border-radius: 3px;
  background-color: #405370;
}
.ContentPanel .button:hover {
  background-color: #6d769d;
}
