//@import "shared.component.scss";
@import "_theme.components.scss";
:host {
    display: block;
}
.number-input {
    @extend %theme-text-input;

    input[type=number] {
        text-align: right;
        line-height: 22px;
    }
}
