@import "shared.component.scss";
@import "../themes/_themes.scss";

$popup-overlay-background-colour: rgba(white, 0.77);
$popup-background-colour: white;
$popup-colour: black;
$popup-border-colour: cornflowerblue;
$popup-border: 1px solid $popup-border-colour;
$popup-padding: 0.25em;
$popup-border-radius: 0.25em;

$popup-caption-colour: cornflowerblue;
$popup-warning-caption-colour: darkorange;
$popup-error-caption-colour: red;


.popup-dialog {
    @extend %theme-overlay-ext;

    .popup-window {
        @extend %theme-window-ext;
        @include theme-dialog-commands;
        .dialog-commands {
            border-radius: 0;
        }
        /*.dialog-body {
            @extend %std-dialog-buttons;
            padding: 0.25em;
            display: grid;
            grid-gap: 10px;
            align-items: flex-end;
        }

        .dialog-commands {
            @extend %std-dialog-commands;
            min-height: 2em;
        }*/
    }
}
