@import "shared.component.scss";

:host {
    width: 100%;
    display: block;

    * {
        background-color: transparent;
    }
}

.search-input {


    &.not-valid {
        input:not(:focus) {
            border: 1px solid $error-colour;
        }
    }

    label {
        span {
            @extend %label-above;
            display: block;
        }
    }

    .control-container {
        border: 1px solid $border-colour;
        border-radius: 0.25em;
        display: grid;
        grid-template-columns: 1fr 24px 24px;
        align-items: center;

        input {
            @extend %input-box;
            width: 100%;
            border: none;
            border-radius: 0;
            vertical-align: text-bottom;
            color: var(--colour, black);

            &:focus {
                outline: none;
                border: none;
            }
        }

        button {
            height: 100%;
            border: none;
            border-radius: 0;
            font-size: 1.5em;
            display: flex;
            padding-right: 0.25em;
            padding-left: 0;
            span.fa {
                font-size: 18px;
            }
            &:focus {
                outline: none;
            }

            &.search-button {
                color: var(--search-colour, cornflowerblue);

                &:hover {
                    color: var(--search-hover-colour, orange);
                }

                span {
                    align-self: center;
                }
            }

            &.clear-button {
                font-size: 1.8em;
                color: var(--clear-colour, red);

                &:hover {
                    color: var(--clear-hover-colour,orange);
                }
            }
        }
    }
}
