@{
    Layout = "~/Views/Shared/_BareLayout.cshtml";
    ViewBag.Title = "Permission Denied";
}
<div class="permission-page">
    <div class="content">
        <div class="heading">Permission Denied (view)</div>
        <div class="message">@ViewBag.Message</div>
    </div>
</div>


