<div class="configuration-index index-page">
    <div class="sub-section">
        <div class="heading"></div>
        <div class="row">
            <div class="col-sm-3"><button class="btn-sm btn-link" data-cmd="edit-email-templates">Email Templates</button></div>
            <div class="col-sm-8">Email templates list</div>
        </div>
        <div class="row">
            <div class="col-sm-3"><button class="btn-sm btn-link" data-cmd="edit-parameters">Parameters</button></div>
            <div class="col-sm-8">Set booking system parameters</div>
        </div>
    </div>
</div>
