<div class="email-keywords">
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Keyword</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{hutName}}</td>
                        <td>The full name of the hut.</td>
                    </tr>
                    <tr>
                        <td>{{bookingSecretaryEmailAddress}}</td>
                        <td>Email address of the hut Booking Secretary.</td>
                    </tr>
                    <tr>
                        <td>{{memberFirstName}}</td>
                        <td>First name of the member making the booking.</td>
                    </tr>
                    <tr>
                        <td>{{memberLastName}}</td>
                        <td>Last name of the member making the booking.</td>
                    </tr>
                    <tr>
                        <td>{{memberName}}</td>
                        <td>Full name of the member making the booking.</td>
                    </tr>
                    <tr>
                        <td>{{memberEmailAddress}}</td>
                        <td>Email address of the member making the booking.</td>
                    </tr>
                    <tr>
                        <td>{{memberPhoneNumber}}</td>
                        <td>Phone number of the member making the booking.</td>
                    </tr>
                    <tr>
                        <td>{{reference}}</td>
                        <td>The booking reference</td>
                    </tr>
                    <tr>
                        <td>{{from}}</td>
                        <td>The arrival date</td>
                    </tr>
                    <tr>
                        <td>{{to}}</td>
                        <td>The departure date</td>
                    </tr>
                    <tr>
                        <td>{{numberOfNights}}</td>
                        <td>The number of nights</td>
                    </tr>
                    <tr>
                        <td>{{description}}</td>
                        <td>The description of the accomodation.</td>
                    </tr>
                    <tr>
                        <td>{{partySize}}</td>
                        <td>The number of people in the party.</td>
                    </tr>
                    <tr>
                        <td>{{bookedOn}}</td>
                        <td>The date on which the booking was made.</td>
                    </tr>
                    <tr>
                        <td>{{cost}}</td>
                        <td>The cost of the booking.</td>
                    </tr>
                    <tr>
                        <td>{{entryCode}}</td>
                        <td>The entry code for the hut. Note that this is only available once bookings are within the notification period. Should only be used in the EntryCodeNotification template.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="help-block">These keywords can be used in both the subject and the body text. All keywords must be enclosed in double curly brackets as shown. Keywords letters must be in the case as shown.</div>
        </div>
    </div>
</div>
