.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
.SitePanel {
  width: 80%;
}
.home-link {
  color: white;
  line-height: 2.0em;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.home-link:focus,
.home-link:active:focus,
.home-link.active:focus,
.home-link.focus,
.home-link:active.focus,
.home-link.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.home-link:hover,
.home-link:focus,
.home-link.focus {
  color: #333;
  text-decoration: none;
}
.home-link:active,
.home-link.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.home-link.disabled,
.home-link[disabled],
fieldset[disabled] .home-link {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
a.home-link.disabled,
fieldset[disabled] a.home-link {
  pointer-events: none;
}
.body-content {
  width: 80%;
}
.fastnet-error-panel {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  padding: 4px;
  font-size: x-small;
  background-color: #000000;
  width: 75%;
  height: 100px;
  overflow-y: scroll;
  color: white;
}
.AppPanel {
  width: 100%;
}
.toolbar {
  height: 32px;
  background-color: black;
}
.toolbar .title {
  color: white;
  font-size: 20px;
  /*margin-top: 6px;
        margin-left: 4px;
        margin-right: 4px;
        margin-bottom: 2px;*/
}
.toolbar button[data-cmd='back-to-cms'],
.toolbar button[data-cmd='back-home'] {
  margin-top: 4px;
}
.navigation-table {
  margin-top: 12px;
}
.navigation-table tr:first-child > td {
  border-top: none;
}
.navigation-table tr:not(:first-child) > td {
  border-top: 1px solid #eeeeee;
}
/*.report-container {
    margin-top: 10px;
    table {
        font-size: 10px;
    }
}*/
.report-container {
  margin-top: 10px;
}
.report-container .report-title {
  font-weight: bold;
  font-size: large;
  padding-top: 6px;
  padding-bottom: 6px;
}
.report-container .table {
  font-size: 10px;
}
.report-container .dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0;
  outline: none;
  background-color: transparent;
  border-color: transparent;
  background-image: none;
}
.report-container .dataTables_wrapper .dataTables_paginate .paginate_button.disabled a {
  background-color: #777777;
}
.report-container .dataTables_wrapper .dataTables_paginate .paginate_button :hover {
  background-color: transparent;
  border-color: transparent;
  outline: none;
}
.report-container .dataTables_wrapper .dataTables_paginate .paginate_button a {
  background-color: #337ab7;
  color: #fff;
  outline: none;
}
.report-container .dataTables_wrapper .dataTables_paginate .paginate_button a:hover {
  background-color: #f0ad4e;
  color: #fff;
  outline: none;
}
.report-container.report-site-content .folder .folder-name {
  border-top: 1px solid #a7a7a7;
  font-size: smaller;
}
.report-container.report-site-content .folder .folder-name span.fa-folder {
  color: orange;
  margin-right: 4px;
}
.report-container.report-site-content .folder .folder-name .row:not(:last-child) {
  margin-bottom: 4px;
}
.report-container.report-site-content .folder .restrictions {
  padding-bottom: 2px;
  margin-bottom: 4px;
  font-size: x-small;
}
.report-container.report-site-content .folder .restrictions > div {
  margin-top: 4px;
  border: 1px solid darkgray;
  border-radius: 3px;
  background-color: rgba(161, 182, 189, 0.48);
}
.report-container.report-site-content .folder .restrictions .title-direct {
  color: red;
}
.report-container.report-site-content .folder .restrictions .title-inherited {
  color: #ff8080;
}
.report-container.report-site-content .folder .folder-items .row:last-child {
  margin-bottom: 12px;
}
.report-container.report-site-content .folder .folder-items .folder-item {
  font-size: small;
}
.report-container.report-site-content .folder .folder-items .folder-item.document .name div:nth-child(2n) {
  font-size: x-small;
  color: #064f15;
}
.report-container.report-site-content .folder .folder-items .folder-item.image .name div:nth-child(2n) {
  font-size: x-small;
}
.report-container.report-site-content .folder .folder-items .folder-item.image .name div:nth-child(3n) {
  font-size: x-small;
  color: #902a12;
}
.report-container.report-site-content .folder .folder-items .folder-item .name {
  position: relative;
  float: left;
  width: 16.66666667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.report-container.report-site-content .folder .folder-items .folder-item .title {
  position: relative;
  float: left;
  width: 39.58333333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: x-small;
}
.report-container.report-site-content .folder .folder-items .folder-item .info {
  position: relative;
  float: left;
  width: 14.58333333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: x-small;
}
.report-container.report-site-content .folder .folder-items .folder-item .modification-info {
  position: relative;
  float: left;
  width: 25%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: right !important;
  font-size: x-small;
}
.report-container.report-site-content .folder .folder-items .folder-item .modification-info > div {
  display: inline;
  margin-right: 2px;
}
.report-container.report-site-content .folder .folder-items .folder-item .picture {
  position: relative;
  float: left;
  width: 1.66666667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-right: 4px;
}
.report-container.report-site-content .folder .folder-items .folder-item .picture .iframe-container {
  overflow: hidden;
  height: 200px;
}
.report-container.report-site-content .folder .folder-items .folder-item .picture iframe {
  margin-left: -12px;
  z-index: -2;
  height: 600px;
  width: 900px;
  border: none;
  -moz-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -o-transform: scale(0.3);
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
}
.report-container .mail-history .to {
  cursor: pointer;
  color: deepskyblue;
}
.report-container .group-list .directory-heading {
  color: #31708f;
}
.report-container .group-list .group-directory {
  margin-left: 24px;
}
.report-container .group-list .group-directory .edit-allowed[data-value='false'] {
  color: red;
}
.report-container .group-list .group-directory .edit-allowed[data-value='true'] {
  color: #3c763d;
}
.report-container .group-list .group-directory .view-allowed[data-value='false'] {
  color: red;
}
.report-container .group-list .group-directory .view-allowed[data-value='true'] {
  color: forestgreen;
}
.report-container .member-list .group-name {
  color: #31708f;
}
.report-container .member-list .disabled {
  color: darkgray;
}
.report-container .member-list .waiting-activation {
  color: red;
}
.mail-test textarea {
  height: 200px;
}
.mail-history .mail-disabled,
.mail-history .mail-failed-delivery {
  color: red;
}
@media print {
  a:link:after,
  a:visited:after {
    content: "";
  }
}