
@{
    ViewBag.Title = "Permission Denied";
    Layout = "~/Areas/membership/Views/Shared/_Empty.cshtml";
}

<h2>Permission Denied</h2>
<p>Use of the Membership Manager is restricted to authorised users.</p>

