$default-backgroundColour: #1b76bc;

$default-sitepanel-width: 840px;

:host {
    height: 100%;
}

.SitePanel {

    .login-status {
        z-index: 333;

        position: relative;

        .login-name {
            text-decoration: none;
        }

        div {
            position: absolute;
            right: 0;
            top: 60px;
            margin-right: 4px;
            background: transparent;
            color: white;
        }
    }
}

.BannerPanel {
    position: relative; // allows child elements to be positioned absolutely
    webframe-sidebarmenu {
        display: none;
    }
}
webframe-sidebarmenu {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}


@media all and (max-width: 748px) {
    .BannerPanel {
        webframe-sidebarmenu {
            display: block;
        }
    }

    .SitePanel {
        .MenuPanel {
            display: none;
        }
    }
}
