<div class="SitePanel" (click)="onSitePanelClick($event)">
    <div *ngIf="member" class="login-status">
        <div class="login-name">{{member.name}}</div>
    </div>
    <div class="BannerPanel">
        <webframe-page class="page-component" [pageId]="this.getBannerPageId()"></webframe-page>
        <webframe-sidebarmenu></webframe-sidebarmenu>
    </div>
    <div class="MenuPanel">
        <webframe-menu></webframe-menu>
    </div>
    <div class="ContentPanel">
        <div class="LeftPanel">
            <webframe-page class="page-component" [pageId]="this.getLeftPageId()" ></webframe-page>
        </div>
        <div class="CentrePanel">
            <webframe-page class="page-component" [pageId]="this.getCentrePageId()"></webframe-page>
        </div>
        <div class="RightPanel">
            <webframe-page class="page-component" [pageId]="this.getRightPageId()"></webframe-page>
        </div>
    </div>
</div>

