$default-backgroundColour: #1b76bc;

$default-sitepanel-width: 840px;

:host {
    height: 100%;
}

.SitePanel {
    /*.edit-panel {
        background-color: black;
        padding-left: 0.25em;
        padding-right: 0.25em;
    }*/

    .login-status {
        z-index: 333;
        /*&.enable {
            display: block;
        }

        &:not(.enable) {
            display: none;
        }*/
        position: relative;

        .login-name {
            text-decoration: none;
            /*cursor: pointer;*/
            /*&:hover {
                text-decoration: underline;
            }*/
        }

        div {
            position: absolute;
            right: 0;
            top: 60px;
            margin-right: 4px;
            background: transparent;
            color: white;
        }
    }
}

.BannerPanel {
    position: relative; // allows child elements to be positioned absolutely
    webframe-sidebarmenu {
        display: none;
    }
}



@media all and (max-width: 748px) {
    .BannerPanel {
        webframe-sidebarmenu {
            display: block;
        }
    }

    .SitePanel {
        .MenuPanel {
            display: none;
        }
    }
}
