@import "../../styles/_variables.scss";
@import "../../styles/_forms";
/*.login-form {


    .form-body {
        display: flex;
        flex-direction: column;
    }

    .login-result {
        margin-top: 10px;
        color: $error-colour;
        font-size: smaller;
        font-style: italic;
    }

}
.login-dialog {
    width: 80%;

    .message-content {
        margin: 20px;
    }
}*/
