<div class="SitePanel">
    <div class="BannerPanel">
        <webframe-page class="page-component" [pageId]="this.getPageId()"></webframe-page>
    </div>
    <div class="ContentPanel">
        <div class="webframe-form">
            <div class="caption">Reset Password</div>
            <inline-dialog>
                <div dialogbody>
                    <div *ngIf="ready">
                        <div *ngIf="memberQueryResult; else fail">
                            <div>Password change for {{member.emailAddress}}</div>
                            <password-input label="Password" [(ngModel)]="password" [validator]="passwordValidator"></password-input>
                            <password-input label="Confirm Password" [(ngModel)]="passwordConfirmation" [validator]="confirmPasswordValidator"></password-input>
                        </div>
                        <ng-template #fail>
                            <p>Password reset error.</p>
                            <p>If you need help with resetting a password please contact the site administrator.</p>
                            <a [routerLink]="['/home']">Home</a>
                        </ng-template>
                    </div>
                </div>
                <div dialogcommands right>
                    <button (click)="onOK()">OK</button>
                    <button class="cancel" (click)="onCancel()">Cancel</button>
                </div>
            </inline-dialog>
            <popup-message [width]="370" caption="Authentication"></popup-message>
        </div>
    </div>
</div>