<div class="SitePanel">
    <div class="BannerPanel">
        <webframe-page class="page-component" [pageId]="this.getPageId()"></webframe-page>
    </div>
    <div class="ContentPanel">
        <div class="webframe-form">
            <div class="caption">Reset Password</div>
            <div>
                <div *ngIf="ready">
                    <div *ngIf="memberQueryResult; else fail">
                        <div>Password change for {{member.emailAddress}}</div>
                        <div class="form-body">
                            <password-input label="Password" name="password" [(ngModel)]="password" [validator]="validators.item('password')"></password-input>
                            <password-input label="Confirm Password" name="confirmpassword" [(ngModel)]="passwordConfirmation" [validator]="validators.item('passwordconfirmation')"></password-input>
                            <div class="command-buttons">
                                <div class="top-row-right">
                                    <button class="default" (click)="onOK()">OK</button>
                                    <button (click)="onCancel()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-template #fail>
                        <p>Password reset error.</p>
                        <p>If you need help with resetting a password please contact the site administrator.</p>
                        <a [routerLink]="['/home']">Home</a>
                    </ng-template>
                    <message-box id="reset-message" caption="Message">
                        <div class="message-body">Your password has been changed. You may now login using your new password</div>
                    </message-box>
                </div>

            </div>
        </div>
    </div>
</div>