@import "../../../fastnet/themes/_themes";
@include theme-buttons;
@include theme-menu-bar('.menu-bar');
@include theme-page();

.index-item {
    border-top: 1px solid lighten(theme-colour('surface', 'light'), 25%);
    padding-top: $theme-gutter-narrow;
    padding-bottom: $theme-gutter-narrow;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-column-gap: 0.25em;
    justify-items: left;
    align-items: center;
}
